<div class="carousel" #carousel>
    <button (click)="prev()">&#10094;</button>
    <div>
        <ul>
          <li *ngFor="let programaSectorial of listaProgramasSectoriales; let i = index" [class.active]="i === currentIndex">
            <a (click)="agregarQueryParam(programaSectorial.ID_PROG_SECTORIAL!)">
              <img class="imagen-indicador" [src]="programaSectorial.URL_ICONO" [alt]="programaSectorial.NOMBRE">
            </a>
          </li>
        </ul>
    </div>
    
    <button (click)="next()">&#10095;</button>
</div>