.resaltado:hover {
  stroke: black;
  stroke-width: 7;
  cursor: pointer;
}

.mascara {
  width: 100%;
  height: 742px;
  //background: url("https://qa.coneval.org.mx/conf/SIMEPS/img/mascara.png") no-repeat center;  
  background: rgba(0, 0, 0, .55);
  text-align: center;
  margin: auto;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; z-index: 100;}
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; z-index: 100;}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; z-index: 100;}
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; z-index: 100;}
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; z-index: 100;}
}

.tituloDiagrama{
  color: #3F63B5;
  border-color: #3F63B5;
  border-width: 4px;
  border-style: dashed;
}

.tituloPnd{
  background-color: rgb(76,175,98,.70);
  color: white;
  height: 70px;
}
.tituloPndrow{
  background-color: rgb(57,130,73,100);
  height: 50px;
  width: 95%;
  margin: auto;
  padding: 1%;
  border-radius: 5px;
}

.pnd{
  background-color: rgb(76,175,98,.60);
  height: 300px;
  color: white;
}
.federales{
  background-color: rgb(130,133,224,.80);
  height: 200px;
  color: white;
}
.ramo33{
  background-color: rgb(23,176,186,.9);
  height: 200px;
  color: white;
}

ul{list-style: none;}

.PndrowTitulo{
  background-color: rgb(57,130,73,100);
  width: 95%;
  height: 50px;
  margin: auto;
  padding: 1%;
  border-radius: 5px;
}

.federalesTitulo{
  background-color: rgb(83,85,143,100);
  width: 95%;
  height: 50px;
  margin: auto;
  padding: 1%;
  border-radius: 5px;
}

.ramo33Titulo{
  background-color: rgb(28,97,115,100);
  width: 95%;
  height: 50px;
  margin: auto;
  padding: 1%;
  border-radius: 5px;
}

@media(min-width: 0px) and (max-width: 576px){
  .ramo33Titulo{
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  .PndrowTitulo{
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .federalesTitulo{
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  .tituloPndrow{
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  .Pndrow{
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  .federalesContenido{
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
  }

  .ramo33Contenido{
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.Pndrow{
  background-color: rgb(57,130,73,100);
  width: 95%;
  height: 220px;
  margin: auto;
  padding: 1%;
  border-radius: 5px;
}


.federalesContenido{
  background-color: rgb(83,85,143,100);
  width: 95%;
  height: 100px;
  margin: auto;
  padding: 1%;
  border-radius: 5px;
}
.ramo33Contenido{
  background-color: rgb(28,97,115,100);
  width: 95%;
  height: 130px;
  margin: auto;
  padding: 1%;
  border-radius: 5px;
}

.nivel{
  width: 70%;
  margin: auto;
  background-color: #A9C4EB;
}
.nivelTexto{
  background-color: #6A8CBD;
  color: white;
  width: 90%;
  margin: auto;
}

.imagen {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

/*.politicas {
  font-family: 'Pencil Tool', sans-serif;
  font-size: 20px;
  width: 100px;
  padding-top: 20%;
  margin-left: 5%;
}*/

.interactua {
  border-color: #3F63B5;
  border-width: 5px;
  border-style: dashed;
  color: #3F63B5;
}

.figure {
  height: 10px;
  width: 2px;
  background-color: black;
}

/* Inicia versión de Mascara sin svg como fondo*/

.politicas{
  font-family: 'Ink Free', sans-serif;
  position: absolute;
  color:white;
  margin-top:7%;
  margin-left: 7%;
  background: #398249;
  align-items: center;
  text-align: center;
}
.politicasSpan{
  margin: 2%;
  font-size: 20px;
}

.imgPoliticas{
  margin-top: 10%;
  margin-left:30%;
  position: absolute;
}

.programas{
  font-family: 'Ink Free', sans-serif;
  position: absolute;
  color:white;
  margin-top:37%;
  margin-left: 7%;
  background: #53558F;
 align-items: center;
 text-align: center;
}
.programasSpan{
  margin: 1%;
  font-size: 20px;
}
.imgProgramas{
  margin-top: 10%;
  margin-left:30%;
  position: absolute;
}

.fondos{
  font-family: 'Ink Free', sans-serif;
  position: absolute;
  color:white;
  margin-top:37%;
  margin-left: 70%;
  background: #1C6173;
 align-items: center;
 text-align: center;
}
.fondosSpan{
  margin: 1%;
  font-size: 20px;
}
.imgFondos{
  margin-top: 10%;
  margin-left:-70%;
  position: absolute;
}



/*@media(min-width: 600px) and (max-width: 900px){
  .politicas{
    margin-top:20%;
    margin-left: 7%;
  }
  .imgPoliticas{
    margin-top: 30%;
    margin-left:-25%;
  }

}
@media(min-width: 901px) and (max-width: 1040px){
  .politicas{
    margin-top:10%;
    margin-left: 7%;
  }
  .imgPoliticas{
    margin-top: 20%;
    margin-left:-30%;
  }
}
@media(min-width: 1041px) and (max-width: 1299px){
  .politicas{
    margin-top:7%;
    margin-left: 7%;
  }
  .imgPoliticas{
    margin-top: 15%;
    margin-left:-30%;
  }
}
@media(min-width: 1300px) and (max-width: 1800px){
  .politicas{
    margin-top:7%;
    margin-left: 7%;
  }
  .imgPoliticas{
    margin-top: 10%;
    margin-left:-30%;
  }
  }

  @media(min-width: 1801px) {
    .politicas{
      margin-top:4%;
      margin-left: 28%;
    }
    .imgPoliticas{
      margin-top: 7%;
      margin-left:-15%;
    }
    }
*/

