<button class="mb-2 button-menu" type="button" data-bs-toggle="collapse" data-bs-target="#menuDesplegable" aria-controls="menuDesplegable">
    <i class="bi bi-list"></i>
</button>
<div class="row h-100 bg-dark-subtle" style="min-height: 1000px;">
    <div class="col-lg-3 collapse-horizontal show menu-desplegable" id="menuDesplegable" #menuDesplegable >
            <div class="d-flex gap-1  p-0 pt-4 align-items-center justify-content-evenly">
                <div class="circulo-estadisticas-detalles">
                    <div class="textoDetalles" [ngStyle]="{'background-color': '#1C520D'}">
                        10
                    </div>
                    <p class="textoDetalles text-center">Objetivos prioritarios</p>
                </div>
                <div class="circulo-estadisticas-detalles">
                    <div class="textoDetalles" [ngStyle]="{'background-color': '#278148'}">
                        10
                    </div>
                    <p class="textoDetalles text-center">Metas para el bienestar (M)</p>
                </div>
                <div class="circulo-estadisticas-detalles">
                    <div class="textoDetalles" [ngStyle]="{'background-color': '#50841B'}">
                        10
                    </div>
                    <p class="textoDetalles text-center">Parámetros (P)</p>
                </div>
                
            </div>
            <app-menu-desplegable [listaObjetivosSectoriales]="listaObjetivosSectoriales4T"></app-menu-desplegable>
    </div>
    <div class="col bg-info" >
    </div>

</div>
