.circulo-estadisticas-detalles{
    max-width: 90px;
}

.circulo-estadisticas-detalles div{
    width: 50px;
    height: 50px;
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

.estadisticas-rapidas .circulo-estadisticas-detalles div{
    width: 70px;
    height: 70px;
}

.circulo-estadisticas-detalles p {
    font-weight: bold;  
}

.textoDetalles{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
}

.button-menu{
    background-color: white;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 5px;
}
.button-menu:hover{
    background-color: #ddd;
}

.download-svg {
    width: 70px;
    height: 70px;
}

.titulo{
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #008D6C;
}

.tituloContenedor{
    border-width: 3px;
    border-color: #008D6C;
    border-style: solid;
    display: inline-block;
    padding: 10px 40px;
    transform: translateY(20px);
}

.borderParrafo1 {
    border-bottom: 1px solid #d0cfcf;
    text-align: justify;
    word-wrap: break-word;
}
 
.borderParrafo2 {
     border-bottom: 1px solid #008D6C;
     text-align: justify;
     word-wrap: break-word;
}
    
.borderParrafo3 {
     border-bottom: 1px solid #21B052;
    text-align: justify;
    word-wrap: break-word;
}

 