.col,h5, h6{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.textoC {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.enfoque {
  color: #21A542;
}

.img-40x40 {
  width: 35px;
  height: 35px;
}
