<div class="container my-4">

  <div class="row">
    <div class="col-6">
    <!-- Título Objetivo e Indicador -->
    <div class="row mb-3">
      <div class="col">
        <h5 class="text-success" style="display: inline;">Objetivo: </h5>{{objetivo}}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h5 class="text-success" style="display: inline;">Indicador: </h5> {{datoObjetivo?.NOMBRE}}
      </div>
    </div>
   
  
    <!-- Definición del Indicador -->
    <div class="row mb-1">
      <div class="col">
        <h6 class="text-success">Definición del Indicador:</h6>
        <p>{{datoObjetivo?.DEFINICION}}</p>
      </div>
    </div>
  
    <!-- Unidad de Medida y Calificación del Indicador -->
    <div class="row mb-3">
      <div class="col-md-6">
        <h6 class="text-success" style="display: inline;">Unidad de medida:</h6> {{datoObjetivo?.UNIDAD_MEDIDA}}
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
         <!-- Calificación del Indicador -->
         <h6 class="text-success">Calificación del Indicador:</h6>
         <ul class="list-unstyled">
           <li>
             <i class="bi bi-check-circle-fill text-success fs-3" *ngIf="datoObjetivo?.CALIF_CLARIDAD"></i> 
             <i class="bi bi-exclamation-circle-fill text-warning fs-3" *ngIf="!datoObjetivo?.CALIF_CLARIDAD"></i> 
             Claridad
           </li>
           <li>
             <i class="bi bi-check-circle-fill text-success fs-3" *ngIf="datoObjetivo?.CALIF_RELEVANCIA"></i>
             <i class="bi bi-exclamation-circle-fill text-warning fs-3" *ngIf="!datoObjetivo?.CALIF_RELEVANCIA"></i>
              Relevancia
           </li>
           <li>
             <i class="bi bi-check-circle-fill text-success fs-3" *ngIf="datoObjetivo?.CALIF_MONITOREABILIDAD"></i>
             <i class="bi bi-exclamation-circle-fill text-warning fs-3" *ngIf="!datoObjetivo?.CALIF_MONITOREABILIDAD"></i> 
             Monitoreabilidad
           </li>
           <li>
             <i class="bi bi-check-circle-fill text-success fs-3" *ngIf="datoObjetivo?.CALIF_PERTINENCIA"></i>
             <i class="bi bi-exclamation-circle-fill text-warning fs-3" *ngIf="!datoObjetivo?.CALIF_PERTINENCIA"></i>
             Pertinencia
           </li>
         </ul>
      </div>

    </div>



      <!-- Calidad y Enfoque del Indicador -->
      <div class="row mb-3">
        <div class="col">
          <h6 class="text-success">Calidad:</h6>
          <p class="ml-3">{{datoObjetivo?.CATEGORIA_CALIDAD}}</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <h6 class="text-success" style="display: inline;">Enfoque del Indicador:</h6>
          <p>{{datoObjetivo?.ENFOQUE_INDICADOR}}</p>
        </div>
      </div>
  </div>

  <div class="col-6">
      <!-- Gráfica (Componente Angular) -->
      <div class="col-md-12 text-center">
        <h6 class="fw-bold">Historico</h6>
        <app-line-chart [data]="data"></app-line-chart> <!-- Componente Angular para la gráfica -->
      </div>
    </div>
  </div>

  