img{
  width: 150px;
}

.impresion{
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.objetivoTitulo{
    background-color: rgb(61, 111, 200);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19.5px;
    color:#ffffff;
    margin: auto;
}

.objetivos{
    background-color: rgb(161, 161, 161) !important;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo{
    color :#00a94f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
    line-height: 1.4;
    text-align: center;
    text-decoration: none !important;
}


.contenido-subtitulo{
    color: #337ab7;
    text-decoration: none;
}


.accordion-item{
    background-color: rgb(161, 161, 161) !important;
    color: #000000;
}

.custom-accordion {
    background-color: rgb(161, 161, 161) !important; /* Cambia el color de fondo del acordeón */
  }

  .custom-button {
    background-color: rgb(161, 161, 161) !important; /* Cambia el color del botón del acordeón */
    color: #000000; /* Cambia el color del texto */
  }

  .custom-button.collapsed {
    background-color: rgb(161, 161, 161) !important; /* Cambia el color del botón cuando está colapsado */
  }

  .custom-body {
    background-color: #ffffff !important; /* Cambia el color de fondo del cuerpo del acordeón */
    color: black; /* Cambia el color del texto */
  }

  .textoTituloAcordeon{
    width: 100%;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
  }

  .urlIndicador{
    color:#337ab7;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
  }

  .urlIndicador:hover{
    color:#318dde;
    text-decoration: underline;
    cursor: pointer;
  }

  .custom-button {
    background-image: none; /* Oculta las flechas por defecto */
  }

  .custom-button::after {
    display: none; /* Evita que se muestre el ícono de la flecha */
  }

  .titulo-indicadores{
    color: #00a94f;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

  }

  @media (max-width: 576px) {
    .button-image {
        max-width: 100px;
    }
}
.enlace-negro {
  color: #000;
  cursor: pointer;
}

.enlace-negro:hover {
  text-decoration: none;
}

.rectangulo-contenedor-titulo{
  border: 2px solid #196B24 ;
  padding: 0px 15px; /* Añade más espacio interno para un mejor aspecto */
  background-color: #009169;
  margin: 5px auto;
  display: inline-block; /* Se ajusta al ancho del contenido */
  max-width: 90%;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
}

.rectangulo-contenedor-titulo-wrapper {
  text-align: center; /* Centra el contenido inline-block */
}
.tituloPND{
  color:#FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.rectangulo-contenedor {
border: 2px solid #196B24;
padding: 0px 15px; /* Añade más espacio interno para un mejor aspecto */
background-color: #FFFFFF;
margin: 5px auto;
display: inline-block; /* Se ajusta al ancho del contenido */
max-width: 90%;
text-align: center;
line-height: 1;
margin-bottom: 0;
}

.texto-central {
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 0;
  word-wrap: break-word;
  margin-left: 330px;
 // font-weight: bold;
}
@media (max-width: 768px) {
  .texto-central {
    margin-left: 0;
  }
}

.estrategias-transversales {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E0F1DA;
  border-radius: 12px;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #009169;
  gap: 8px;
  border: none;
}

.estrategias-transversales {
  width: 55px;
  height: 57px;
}

.estrategias-transversales {
  padding: 10px 20px;
}

.imagen-dinamica {
  width: 60px;
  height: 50px;
  transition: transform 0.3s ease;
}

.estrategias-transversales:focus,
.estrategias-transversales:active {
  background-color: #E0F1DA;
  color: #009169;
  outline: none;
  box-shadow: none;
}
.btn-gris {
  background-color: #d3d3d3 !important;
  border-color: #b0b0b0;
  color: #ffffff;
}
.gris {
  filter: grayscale(100%);
}

@media only screen and (max-width: 450px) {
  .redesInternas {
    width: 50%;
    margin: auto;
  }
}


@media (max-width: 576px) {
  .row.justify-content-center.align-items-center.mt-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espacio entre elementos */
  }

  .texto-central {
    text-align: center;
    margin-left: 0; /* Asegurarse de que no tenga margen lateral */
  }

  .button-image {
    max-width: 80px; /* Ajustar el tamaño del botón de descarga */
  }

  .impresion {
    font-size: 12px; /* Reducir el tamaño del texto */
    text-align: center; /* Centrar el texto */
    margin-top: 10px; /* Separar del botón */
  }

  /* Ajustar botones de las metas para que estén en filas */
  .row.text-center.mb-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .row.text-center.mb-3 .col {
    flex: 1 1 calc(50% - 20px); /* Dos columnas por fila */
    max-width: calc(50% - 20px);
  }

  .estrategias-transversales {
    width: 100%; /* Botón de ancho completo */
    padding: 15px; /* Mejorar apariencia */
    font-size: 18px;
    gap: 5px; /* Espaciado entre el texto y el ícono */
  }

  .imagen-dinamica {
    width: 40px; /* Tamaño reducido del ícono */
    height: 40px;
  }

  
}

@media (max-width: 576px) {
  .col-sm-3 {
    flex: 1 1 100%; /* Ocupa todo el ancho en móviles */
    text-align: center; /* Centra el contenido */
    margin-bottom: 10px; /* Espacio entre el botón y el texto */
  }

  .col-2 {
    flex: 1 1 100%; /* Ocupa todo el ancho en móviles */
    text-align: center; /* Centra el texto */
  }

  .button-image {
    max-width: 80px; /* Ajusta el tamaño del botón para móviles */
    margin: 0 auto; /* Centra la imagen */
  }

  .impresion {
    font-size: 14px; /* Tamaño más pequeño para móviles */
    text-align: center; /* Centra el texto */
    white-space: normal; /* Permite saltos de línea */
    word-wrap: break-word; /* Asegura que las palabras largas se ajusten */
    line-height: 1.5; /* Espaciado entre líneas */
    max-width: 200px; /* Ancho máximo para evitar despliegue vertical excesivo */
    margin: 0 auto; /* Centra el texto */
    display: block; /* Asegura que tome todo el espacio disponible */
  }
}

