<div class="position-fixed w-100 bg-white" #planeacion>
  <div class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
    <div id="divOcultarRedes" class="social-icons redesInternas">
      <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
          [alt]="red?.alt" class="iconoRed" /></a>
    </div>
    <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
  </div>
</div>


<div class="m-auto d-flex flex-column" [ngStyle]="{'padding-top':alto+'px', 'width':'85%', 'min-height':'90vh'}"
  id="total">
  <div class="rectangulo-contenedor-titulo-wrapper">
    <div class="text-center rectangulo-contenedor-titulo">
    <div class="text-center tituloPND">
      Planeación Nacional de Desarrollo 2013-2018
    </div>
    </div>
    </div>
  <div class="row justify-content-center align-items-center mt-2">
    <div class="col-12 col-md-8 d-flex flex-column text-center mb-2">
      <p class="texto-central me-0">
        Consulta los resultados de los indicadores del PND 2013-2018
      </p>
    </div>
    <!-- Botón con imagen -->
    <div class="col-sm-3 col-md-1 text-center mb-2">
      <a href="https://www.coneval.org.mx/coordinacion/Documents/monitoreo/PND/Metas_Nacionales_PND20132018.csv"
         download="Metas_Nacionales_PND20132018.csv" >
        <img [src]="this.imgDescarga" alt="Imagen del botón"
             class="img-fluid button-image w-75">
      </a>
    </div>
    <!-- Texto a la derecha del botón -->
    <div class="col-12 col-md-2 text-center">
      <a href="https://www.coneval.org.mx/coordinacion/Documents/monitoreo/PND/Metas_Nacionales_PND20132018.csv"
      download="Metas_Nacionales_PND20132018.csv" class="text-decoration-none no-select enlace-negro img-fluid button-image w-75">
      <span class=" impresion">Base de datos de los indicadores derivados del PND 2013-2018</span>
      </a>
    </div>



  </div>


  <!-- Fila con 5 botones de imágenes -->
  <div class="row text-center mb-3">
    <div class="col" *ngFor="let meta of metas">
      <button class="btn w-100" (click)="seleccionarMeta(meta?.ID_META)">
        <img
          [src]="metaSeleccionada === meta?.ID_META || metaSeleccionada === 0 && !mostrarTransversales ? this.servImgMetas+meta?.PATH_IMAGEN_URL.replace('/img/BotonesMetasNacionales/', '') : this.servImgMetas+meta?.PATH_IMAGEN_OVER_URL.replace('/img/BotonesMetasNacionales/', '')"
          class="img-fluid" alt="Imagen 1">
      </button>
    </div>
  </div>

<!-- Botón con 90% de ancho de la fila superior -->
<div class="d-flex justify-content-center mb-3">
  <button class="btn w-75 estrategias-transversales"
          (click)="traerObjetivosTransversales()"
          [ngClass]="{'btn-gris': metaSeleccionada !== 0}">
    <span class="texto">Estrategias Transversales</span>
    <img [src]="this.lupa"
         alt="Icono lupa y engranes"
         class="icono imagen-dinamica"
         [ngClass]="{'gris': metaSeleccionada !== 0}" />
  </button>
</div>



  <div class="container  flex-grow-1" *ngIf="mostrarTransversales && !mostrarVistaObjetivo">
     <table class="table table-borderless m-0" >
    <tbody>
      <tr class="text-center">
        <th class="titulo-indicadores">Indicadores</th>
      </tr>
      <tr *ngFor="let objetivo of objetivos" class="text-center">
        <th scope="row" >
          <span
          (click)="seleccionarVistaObjetivoTransversal(objetivo)"
          class="urlIndicador">
          {{objetivo?.NOMBRE}}
        </span>
        </th>
      </tr>
    </tbody>
    </table>
  </div>

  <!-- Botón de Regresar -->
<div class="row m-2" *ngIf="mostrarVistaObjetivo">
  <div class="col text-end">
    <button type="button" class="btn btn-light border" (click)="regresar()">Regresar</button>
  </div>
</div>

  <div class="container mt-1 flex-grow-1" *ngIf="metaSeleccionada !== 0">
    <div class="objetivoTitulo text-center p-3" *ngIf="!mostrarVistaObjetivo"> Objetivos</div>
    <div class="accordion" id="accordionExample" *ngIf="!mostrarVistaObjetivo">
      <div class="accordion-item custom-accordion m-1" *ngFor="let objetivo of objetivos; let i = index">
        <h2 class="accordion-header" [id]="'heading' + i">
          <button class="accordion-button custom-button" type="button" [attr.data-bs-toggle]="'collapse'"
            [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i"
            (click)="obtenerIndicadoresObjetivo(objetivo?.ID_OBJETIVO_M)">
            <div class="text-center textoTituloAcordeon">{{objetivo?.DESC_OBJETIVO}} </div>
          </button>
        </h2>
        <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#accordionExample">
          <div class="accordion-body custom-body">
            <table class="table table-borderless m-0">
              <tbody>
                <tr *ngFor="let indicador of listadoIndicadorObjetivo" class="text-center">

                  <th scope="row" class="urlIndicador"
                    (click)="seleccionarVistaObjetivo(indicador,objetivo?.DESC_OBJETIVO)"
                    *ngIf="indicador?.NOMBRE !== 'Sin indicadores asociados'">
                    {{indicador?.NOMBRE}}
                  </th>

                  <th scope="row" class="text-dark m-0 p-0"
                    *ngIf="listadoIndicadorObjetivo.length===1 && indicador?.NOMBRE === 'Sin indicadores asociados'">
                    {{indicador?.NOMBRE}}
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-vista-objetivo [datoObjetivo]="objetivoSeleccionado" [objetivo]="nombreObjetivoSeleccionado"
  [data]="dataGrafica" *ngIf="mostrarVistaObjetivo"></app-vista-objetivo>

</div>
