
<!--<div *ngIf="loading" >
  <div class="loading1"></div>
  <p>Cargando...</p>
</div>-->

<div class="row">

  <div class="col-3">

    <div class="row justify-content-end mt-3">
      <!-- Botón con imagen -->
      <div class="col-6">
        <a (click)="descargarFichaTecnica()"
          download="Programas_derivados_PND.xls">
          <img [src]="this.imgDescarga" alt="Imagen del botón"
            class="img-fluid w-75">
        </a>
      </div>
      <!-- Texto a la derecha del botón -->
      <div class="col-6">
        <label class="ms-1 impresion">Fichas técnicas de los indicadores</label>
      </div>
    </div>
  </div>
</div>
<!--<div *ngIf="!loading">-->

<h5>Información general del indicador</h5>
<div class="row mt-4">
  <p class="nombreIndicador fw-bold">
    {{informacion?.NOMBRE}}
  </p>
  <div class="col-12">
    <app-line-chart-multiserie [data]="data"></app-line-chart-multiserie>
  </div>
  <div class="col-12 text-justify">
    <p class="pObjetivo">
      <span class="objetivo">Objetivo Prioritario: </span>
      <span>{{this.informacion?.OBJETIVO}}</span>
    </p>
    <!--<p class="pIndicador">
      <span class="indicador">Indicador: </span>
      <span>{{this.informacion?.NOMBRE}}</span>
    </p>-->
    <p class="pDescripcion">
      <span class="resultados">Enfoque de Resultados del objetivo: </span>
      <span>{{informacion?.ENFOQUE_RES}}</span>
    </p>
    <p class="pDescripcion">
      <span class="indicador">Definición: </span>
      <span>{{informacion?.DESCRIPCION}}</span>
    </p>
    <p class="pCalculo">
      <span class="mCalculo">Método de cálculo: </span>
      <span>{{informacion?.METODO}}</span>
    </p>
    <p class="pInformacion">
      <span class="fInformacion">Medio de verificación:  </span>
      <span>{{informacion?.FUENTE}}</span>
    </p>
    <p class="pInformacion">
      <span class="resultados">Enfoque de Resultados del Indicador:  </span>
      <span>{{informacion?.ENFOQUE_INDICADOR}}</span>
    </p>
    <div *ngIf="mostrarMas">
      <p class="pInformacion">
        <span class="periodicidad">Frecuencia de Medición:  </span>
        <span>{{informacion?.PERIODICIDAD}}</span>
      </p>
      <p class="pInformacion">
        <span class="periodicidad">Tipo:  </span>
        <span>{{informacion?.TIPO_INDICADOR_GRAFICA}}</span>
      </p>
      <p class="pInformacion">
        <span class="uMedida">Unidad de medida:  </span>
        <span>{{informacion?.UDM}}</span>
      </p>
      <p class="pInformacion">
        <span class="uMedida">Tendencia Esperada:  </span>
        <span>{{informacion?.TENDENCIA}}</span>
      </p>
      <p class="pInformacion">
        <span class="uMedida">Nivel de desagregación:  </span>
        <span>{{informacion?.NIVEL_DESAGREGACION}}</span>
      </p>
      <p class="pInformacion">
        <span class="uMedida">Acumulado o periódico:  </span>
        <span>{{informacion?.ACUM_PER}}</span>
      </p>
    </div>
    <span (click)="toggleMostrarMas()" class="ver-mas">
      {{ mostrarMas ? 'Ver menos' : 'Ver más' }}
    </span>
    <!--<p>
      <span class="periodicidad">Periodicidad: </span> {{informacion?.PERIODICIDAD}}<br>
      <span class="uMedida">Unidad de medida: </span> {{informacion?.UDM}}
    </p>-->
  </div>
  <!--<div class="col-6">
    <app-line-chart-multiserie [data]="data"></app-line-chart-multiserie>
  </div>-->
</div>
<div class="row">
  <h5>
    Estadísticas rápidas
  </h5>
  <div class="col-12">
    <!-- Estadisticas Basicas  -->
    <div class="mb-1">
      <span class="fw-bold text-start subtitulosMetas">Metas planeadas</span>
      <div class="row align-items-center justify-content-evenly">
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor máximo</p>
          <div class="circle m-auto planeadas" [ngClass]="{'expand': (metaPlaneada?.vMax + '').length > 7}">
            <span>{{metaPlaneada?.vMax}}</span>
          </div>

        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor mínimo</p>
          <div class="circle m-auto planeadas" [ngClass]="{'expand': (metaPlaneada?.vMin + '').length > 7}">
            <span>{{metaPlaneada?.vMin}}</span>
          </div>
        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor promedio</p>
          <div class="circle m-auto planeadas"  [ngClass]="{'expand': (metaPlaneada?.vPromedio + '').length > 7}">
            <span>{{metaPlaneada?.vPromedio}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <!-- Estadisticas Basicas  -->
    <div class="mb-1">
      <span class="fw-bold text-start subtitulosMetas">Metas Alcanzadas</span>
      <div class="row align-items-center justify-content-evenly">
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor máximo</p>
          <div class="circle m-auto alcanzadas" [ngClass]="{'expand': (metaAlcanzada?.vMax + '').length > 7}">
            <span>{{metaAlcanzada?.vMax}}</span>
          </div>

        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor mínimo</p>
          <div class="circle m-auto alcanzadas" [ngClass]="{'expand': (metaAlcanzada?.vMin + '').length > 7}">
            <span>{{metaAlcanzada?.vMin}}</span>
          </div>
        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor promedio</p>
          <div class="circle m-auto alcanzadas" [ngClass]="{'expand': (metaAlcanzada?.vPromedio + '').length > 7}">
            <span>{{metaAlcanzada?.vPromedio}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="col-12">
    <!-- Desempeño del Indicador -->
    <div class="mb-1">
      <span class="fw-bold text-start subtitulosMetasIndicador">Desempeño del indicador</span>
      <div class="row align-items-center justify-content-center contenedor-compacto">
        <div class="col-3">
          <div class="circle m-auto lineaBase" [ngClass]="{'expand': (desempenio?.lB + '').length > 7}">
            <span>{{desempenio?.lB}}</span>
          </div>
          <p class="textoGraficas fw-bold m-auto text-center">Línea Base</p>
        </div>
        <div class="col-3">
          <div class="circle m-auto ultimoValor" [ngClass]="{'expand': (desempenio?.uVA + '').length > 7}">
            <span>{{desempenio?.uVA}}</span>
          </div>
          <p class="textoGraficas fw-bold m-auto text-center">Último valor alcanzado</p>
        </div>
        <div class="col-3">
          <div class="circle m-auto meta2018" [ngClass]="{'expand': (desempenio?.meta + '').length > 7}">
            <span>{{desempenio?.meta}}</span>
          </div>
          <p class="textoGraficas fw-bold m-auto text-center">Meta 2024</p>
        </div>
        <div class="col-3">
          <div class="circle m-auto" [ngClass]="{'expand': (desempenio?.porcentaje + '').length > 7}" [ngStyle]="{'background-color': this.color}">
            <span>{{desempenio?.porcentaje}}</span>
          </div>
          <p class="textoGraficas fw-bold m-auto text-center">Porcentaje de avance con respecto al 2024</p>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-6">
    <span class="fw-bold text-start subtitulosMetasIndicador centradro">Calidad del indicador</span>

    <ul class="list-unstyled">
      <li>
        <img [src]="this.imgCheck" alt="Check" class="img-fluid img-40x40" *ngIf="adecuacion" />
        <img [src]="this.imgWarn" alt="Check" class="img-fluid img-40x40" *ngIf="!adecuacion" />
        Adecuación
      </li>
      <li>
        <!--<i class="bi bi-check-circle-fill text-success fs-4" *ngIf="calidadIndicador?.claridad"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.claridad"></i>-->
        <img [src]="this.imgCheck" alt="Check" class="img-fluid img-40x40" *ngIf="calidadIndicador?.claridad"/>
        <img [src]="this.imgWarn" alt="Check" class="img-fluid img-40x40" *ngIf="!calidadIndicador?.claridad"/>
        Claridad
      </li>
      <li>
        <!--<i class="bi bi-check-circle-fill text-success fs-4" *ngIf="calidadIndicador?.relevancia"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.relevancia"></i>-->
        <img [src]="this.imgCheck" alt="Check" class="img-fluid img-40x40" *ngIf="calidadIndicador?.relevancia"/>
        <img [src]="this.imgWarn" alt="Check" class="img-fluid img-40x40" *ngIf="!calidadIndicador?.relevancia"/>
         Relevancia
      </li>
      <li>

        <!--<i class="bi bi-check-circle-fill text-success fs-4" *ngIf="calidadIndicador?.monitoreo"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.monitoreo"></i>-->
        <img [src]="this.imgCheck" alt="Check" class="img-fluid img-40x40" *ngIf="calidadIndicador?.monitoreo"/>
        <img [src]="this.imgWarn" alt="Check" class="img-fluid img-40x40" *ngIf="!calidadIndicador?.monitoreo"/>
        Monitoreabilidad
      </li>
      <li>
        <!--<i class="bi bi-check-circle-fill text-success fs-4"  *ngIf="calidadIndicador?.pertinencia"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.pertinencia"></i>-->
        <img [src]="this.imgCheck" alt="Check" class="img-fluid img-40x40" *ngIf="calidadIndicador?.pertinencia"/>
        <img [src]="this.imgWarn" alt="Check" class="img-fluid img-40x40" *ngIf="!calidadIndicador?.pertinencia"/>
        Pertinencia
      </li>
    </ul>


  </div>
  <div class="col-6">
    <span class="fw-bold text-start subtitulosMetasIndicador">Derechos sociales vinculados</span>
    <div *ngIf="derechosSociales && derechosSociales.length > 0; else noDerecho" class="d-flex flex-wrap align-items-center gap-3 mt-2">
      <div *ngFor="let derecho of derechosSociales" class="d-flex flex-column align-items-center">
        <img [src]="derecho.imagenUrl" alt="Imagen relacionada" class="icono-imagen" style="width: 60px; height: auto;" />
        <p class="text-center mb-0 fw-bold">{{ derecho.DER_DESCRIPCION }}</p>
      </div>
    </div>
    <ng-template #noDerecho>
      <p>El indicador no se encuentra vinculado a algún derecho social.</p>
    </ng-template>
  </div>






</div>

</div>
<!--</div>-->
