<div class="container-fluid p-0">
  <div class="d-flex flex-row w-100">
    <span id="nombreSistema" class="float-start mx-1 nombre-sistema">
      {{cortarNombre(simeps?.sistemaCorto)}}
    </span>
    <a class="navbar-brand d-flex flex-column mx-0 py-0">
      <img [src]="generales?.logos.header?.logoConevalHeader" class="logoConeval"
        [alt]="generales?.logos.header?.alt" />
      <img src="http://127.0.0.1:5500/dist/assets/img/FRASE-CONEVAL.svg" width="250" classs="mt-5" />
    </a>
    <ul class="list-unstyled d-flex justify-content-evenly w-100 ps-4 links color-menu my-0">
      <li *ngFor="let item of opciones" class="nav-item opt-text mx-1"
        [ngClass]="{'opciónseleccionada':opcionSeleccionada(item?.url),'text-wrap':item?.nombre?.length<6,'text-break':item?.nombre?.length>6}"
        (click)="cambiarPagina(item?.url)">
        <a class="nav-link text-light" [href]="item?.url">{{item?.nombre}}</a>
      </li>
    </ul>

    <button class="navbar-toggler menu-priority d-none" data-bs-toggle="collapse" data-bs-target="#navcol-1">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="w-100">
    <div id="navcol-1" class="collapse navbar-collapse  color-menu-collapsable">
      <ul class="navbar-nav hidden-links"></ul>
    </div>
  </div>
</div>