<div class="position-fixed w-100 bg-white"  #main>
    <div class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
        <div id="divOcultarRedes" class="social-icons redesInternas">
            <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img" [alt]="red?.alt"
                    class="iconoRed" /></a>
        </div>
        <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{
            nombreSistema
            }}</span>
    </div>

    <div class="d-flex justify-content-evenly w-100 preguntas"  >
        <div class="opcionPregunta text-wrap" [ngStyle]="{
        color: regresaEstilosMenu(1).color,
        'font-size': regresaEstilosMenu(1).font
      }" (click)="goTo(1)">
            <strong>¿Qué es el monitoreo?</strong>
            <img alt="flecha" *ngIf="menuSeleccionado === 1" [src]="flechaBtn" class="selectorOpcion" />
        </div>
        <div class="opcionPregunta text-wrap" [ngStyle]="{
        color: regresaEstilosMenu(2).color,
        'font-size': regresaEstilosMenu(2).font
      }" (click)="goTo(2)">
            <strong>¿Qué monitorea el CONEVAL?</strong>
            <img alt="flecha2" *ngIf="menuSeleccionado === 2" [src]="flechaBtn" class="selectorOpcion" />
        </div>
        <div class="opcionPregunta text-wrap" [ngStyle]="{
        color: regresaEstilosMenu(3).color,
        'font-size': regresaEstilosMenu(3).font
      }" (click)="goTo(3)">
            <strong>¿Qué es el SIMEPS?</strong>
            <img alt="flecha3" *ngIf="menuSeleccionado === 3" [src]="flechaBtn" class="selectorOpcion" />
        </div>
    </div>
</div>
<div class="m-auto w-100 contendorInicial" (wheel)="obtenerPosicion()" (scroll)="obtenerPosicion()" [ngStyle]="{'padding-top':alto+'px'}" id="total">
    <div class="h-75 overflow">
        <table class="table table-borderless mt-4" id="seccion1">
            <caption></caption>
            <th id="th1" class="p-0"></th>
            <tbody>
                <tr>
                    <td>
                        <div class="parrafoInformativo" id="monitoreo">
                            <p>
                                El monitoreo es el
                                proceso continuo y sistemático de recolección, generación y
                                    análisis de información, para brindar orientación acerca del
                                progreso en el logro de objetivos de una intervención
                                    pública, analizando tanto los
                               resultados esperados como la
                                entrega de bienes o servicios. Asimismo, proporciona
                                insumos para la toma de decisiones que
                                contribuyan a mejorar la gestión de dichas intervenciones.
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="parrafoInformativo">
                            Para el CONEVAL, este proceso
                            tiene como finalidad valorar el cumplimiento de los objetivos del
                            <span class="resaltePND">Plan Nacional de Desarrollo y sus programas derivados</span>, de
                            los
                            <span class="resaltePlan">programas y acciones federales de desarrollo social</span>
                            y de los
                            <span class="resalteRamo33">Fondos de Aportaciones Federales del Ramo 33 del ámbito
                                social</span>, coordinados por las dependencias y entidades de la
                            Administración Pública Federal, a través de los
                            <span class="link-primary text-decoration-underline instrumentos">instrumentos</span> que para ello defina. Lo anterior
                            derivado de la información que genera la Secretaría de Hacienda y
                            Crédito Público a través del seguimiento.
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <img alt="pnd" [src]="lineaCnvl" class="mx-auto d-block separadorConeval" id="pnd" />
        <table class="table table-borderless" id="seccion2">
            <caption></caption>
            <th id="th2" class="p-0"></th>
            <tbody class="text-center">
                <tr>
                    <td>
                        <app-diagrama-pnd [mascaraActiva]="auxMascara"></app-diagrama-pnd>
                    </td>
                </tr>
            </tbody>
        </table>
        <img alt="simeps" [src]="lineaCnvl" class="mx-auto d-block separadorConeval" id="simeps" />
        <table class="table table-borderless mt-2" id="seccion3">
            <caption></caption>
            <th id="th3" class="p-0"></th>
            <tbody>
                <tr>
                    <td>
                        <div class="text-justify parrafoInformativo">
                            El Sistema de Monitoreo de la Política Social (SIMEPS) da
                            seguimiento a la Política de Desarrollo Social de la
                            Administración Pública Federal a través de los indicadores de
                            políticas, programas y Fondos, para conocer el avance de sus
                            objetivos.
                        </div>
                        <br />
                        <div class="text-center">
                            <iframe width="50%" height="315"
                                src="https://www.youtube.com/embed/VRosxIwBjt0?si=2u6-hLaehQ9GdC7s"
                                title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>