<div class="position-fixed w-100 bg-white" #planeacion>
    <div
        class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
        <div id="divOcultarRedes" class="social-icons redesInternas">
            <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
                    [alt]="red?.alt" class="iconoRed" /></a>
        </div>
        <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
    </div>
</div>
<!-- Titulo ventana -->
<div class="m-auto" [ngStyle]="{'padding-top':alto+'px', 'width':'85%'}" id="total" id="padre">

  <div class="rectangulo-contenedor-titulo-wrapper">
<div class="text-center rectangulo-contenedor-titulo">
<div class="text-center tituloPND">
  Programas derivados del PND 2013-2018
</div>
</div>
</div>

<div class="row justify-content-center align-items-center mt-3">
  <!-- Contenedor para el texto centrado -->
  <div class="col-12 col-md-8 d-flex flex-column text-center mb-2">
    <p class="texto-central me-4">
      Consulta los resultados de los indicadores de los programas del
      <br>
      <span class="texto-secundario">ámbito social derivados del PND 2013-2018</span>
    </p>
  </div>

  <!-- Botón con imagen -->
  <div class="col-sm-3 col-md-1">
    <a (click)="descargarExcel()" download="Metas_Nacionales_PND20132018.csv">
      <img [src]="this.imdDescargaDatos"
           alt="Imagen del botón" class="img-fluid button-image w-75">
    </a>
  </div>

  <!-- Texto a la derecha del botón -->
  <div class="col-sm-9 col-md-2">
    <a (click)="descargarExcel()" download="Metas_Nacionales_PND20132018.csv" class="text-decoration-none no-select">
    <span class=" impresion">Base de datos de los indicadores derivados del PND 2013-2018</span>
  </a>
  </div>
</div>


    <!-- Estadisticas Basicas  -->
    <div class="text-center mb-3">
      <div class="rectangulo-contenedor">
        <div class="my-2 text-start">
          <span class="subtitulo">Estadísticas Básicas</span>
        </div>
      </div>
        <div class="d-flex p-3 flex-wrap gap-1 pt-4 align-items-center justify-content-evenly areaGraficas">
          <div *ngFor="let estadistica of listaEstadisticasBasicas; let i = index">
            <p class="fw-bold " style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000000;">{{ estadistica?.Tipo }}</p>
            <div class="circle"  [ngClass]="{
              'circle-sectores': estadistica.Tipo === 'SECTORES',
              'circle-planes': estadistica.Tipo === 'PLANES',
              'circle-objetivos': estadistica.Tipo === 'OBJETIVOS',
              'circle-indicadores': estadistica.Tipo === 'INDICADORES'
            }">
              <span>{{ estadistica.currentCount }}</span>
            </div>
          </div>
        </div>
      </div>


    <!-- Iconos Sectores  -->
    <div class="text-center mt-3">
      <div class="rectangulo-contenedor">
        <div class="my-2 text-start" [ngStyle]="{'background-color' : '#fff'}">
            <span class="subtitulo" >Monitoreo de indicadores de la política social por sector</span>
        </div>
      </div>
        <div class="mt-4 d-flex justify-content-evenly flex-wrap">
            <div *ngFor="let sector of listaSectores" class="p-1 link-sectores" style="flex: 1 1 20%;">
                <img class="sectores-icon-svg" [src]="sector.ICONO" [alt]="sector.ICONO" (click)="redirigirAIndicador(sector?.ID_SECTOR)">
                <p class="texto text-center fw-bold nombreIndicador" (click)="redirigirAIndicador(sector?.ID_SECTOR)">{{sector.NOMBRE}}</p>
            </div>
        </div>

    </div>


    <div class="text-center mt-3 mb-3">
        <div class="mt-4 d-flex justify-content-evenly flex-wrap">
            <div class="p-1 link-sectores" style="flex: 1 1 20%;">
                <img class="sectores-icon-svg" src="https://www.coneval.org.mx/SiteCollectionImages/SIMEPS/LogosSectores/indicadoresprogramas.jpg" alt="https://www.coneval.org.mx/SiteCollectionImages/SIMEPS/LogosSectores/indicadoresprogramas.jpg" [routerLink]="['/indicadorFin']">
                <p class="texto text-center nombreIndicador3" [routerLink]="['/indicadorFin']">Indicadores de fin de los programas y acciones sociales</p>
            </div>
            <div class="p-1 link-sectores" style="flex: 1 1 20%;">
                <img class="sectores-icon-svg" src="https://www.coneval.org.mx/SiteCollectionImages/SIMEPS/LogosSectores/fichasmonitoreo.jpg" alt="https://www.coneval.org.mx/SiteCollectionImages/SIMEPS/LogosSectores/indicadoresprogramas.jpg" [routerLink]="['/fichasMonitoreo']">
                <p class="texto text-center nombreIndicador3" [routerLink]="['/fichasMonitoreo']">Fichas de Monitoreo de Políticas Sociales</p>
            </div>
        </div>
    </div>


    <div *ngIf="this.esTablet" style="height: 145px;"></div>
</div>
