.subtitulo{
  color: #278148;
  //font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.areaGraficas{
  background-color: #E8E8E8;
}

.circle {
width: 70px;
height: 70px;
color: white;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
font-weight: bold;
//font-family: Arial, Helvetica, sans-serif;
}

img{
  cursor: pointer;
}

.link-sectores:hover p {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: black;
}

.nombreIndicador, .nombreIndicador2{
  font-size: 16px;
  //font-family: Arial, Helvetica, sans-serif;
}

.nombreIndicador2{
      max-width: 150px;
      word-wrap: break-word;
      white-space: normal;
      margin: 0 auto;
}



@media (max-width: 576px) {
  .button-image {
      max-width: 100px;
  }
}

.tituloPND{
  color:#FFFFFF;
  //font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.rectangulo-contenedor {
border: 2px solid #196B24;
padding: 0px 15px; /* Añade más espacio interno para un mejor aspecto */
background-color: #FFFFFF;
margin: 5px auto;
display: inline-block; /* Se ajusta al ancho del contenido */
max-width: 90%;
text-align: center;
line-height: 1;
margin-bottom: 0;
}

.rectangulo-contenedor-titulo{
border: 2px solid #196B24 ;
padding: 0px 15px; /* Añade más espacio interno para un mejor aspecto */
background-color: #009169;
margin: 5px auto;
display: inline-block; /* Se ajusta al ancho del contenido */
max-width: 90%;
text-align: center;
line-height: 1;
margin-bottom: 0;
}

.rectangulo-contenedor-titulo-wrapper {
text-align: center; /* Centra el contenido inline-block */
}
.texto-central {
color: #000000;
//font-family: Arial, sans-serif;
font-size: 16px;
text-align: center;
margin-bottom: 0;
word-wrap: break-word;
}

.texto-secundario {
display: inline-block;
color: #000000;
font-size: 16px;
//font-family: Arial, sans-serif;
}

.me-4 {
margin-left: 41%; /* Ajusta el valor para centrar visualmente */
}

.circle-sectores {
background-color: #1C520D;
}

.circle-planes {
background-color: #278148;
}

.circle-objetivos {
background-color: #53702D;
}

.circle-indicadores {
background-color: #83BA2B;
}
.sectores-icon-svg {
width: 150px;
height: 150px;
object-fit: contain; /* Ajusta la imagen para que mantenga su proporción */
}

.impresion{
font-size: 13px;
//font-family: Arial, Helvetica, sans-serif;
text-align: start;
cursor: pointer; /* Cambia el cursor a la manita */

}

.no-select {
cursor: pointer; /* Muestra la manita */
user-select: none; /* Desactiva la selección de texto */
}

.nombreIndicador3{
font-size: 13px;
//font-family: Arial, Helvetica, sans-serif;
}
.nombreIndicador3{
max-width: 150px;
word-wrap: break-word;
white-space: normal;
margin: 0 auto;
}
@media (max-width: 768px) {
.texto-central {
  margin-left: 0;
}
}

.areaGraficas div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 5px;
}

img.img-fija{
min-width: 40px;
min-height: 40px;
max-width: 60px;
max-height: 60px;
object-fit: cover;
align-items: end;
}

@media (max-width: 768px) {

.impresion {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;

}

img.button-image{
  width: 20px;
  height: 20px;
  object-fit: cover;
}
}


@media (max-width: 576px) {
.impresion {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
  max-width: 600px;
  white-space: normal;
  word-wrap: break-word; /* Asegura que las palabras largas se ajusten */
  cursor: pointer;
}

img.button-image{
  width: 10px;
  height: 10px;
  object-fit: cover;
}
}

.enlace-descarga {
display: flex;
align-items: center;
text-decoration: none;
}
