<div class="position-fixed w-100 bg-white" #planeacion>
  <div
      class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
      <div id="divOcultarRedes" class="social-icons redesInternas">
          <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
                  [alt]="red?.alt" class="iconoRed" /></a>
      </div>
      <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
  </div>
</div>
<div class="m-auto" [ngStyle]="{'padding-top':alto+'px', 'width':'85%','min-height':'90vh'}" id="total" id="padre">
  <div class="text-center tituloPND">
    Programas derivados del PND 2019-2024
  </div>
  <div class="row justify-content-end mt-3">
    <div class="col-12 col-md-8 mt-2">
      <select class="form-select select-sectores w-100" [(ngModel)]="idSector"  (change)="onSectorChange($event)">
          <option *ngFor="let sector of listaSectores" [value]="sector.ID_SECTOR">
            {{ sector.NOMBRE }}
          </option>
        </select>
  </div>

  <div class="col-12 col-md-1 justify-content-center">
    <a href="https://www.coneval.org.mx/coordinacion/Documents/monitoreo/Bases_SIPOL/Sectoriales_19-20/Programas_derivados_PND.xls"
       download="Programas_derivados_PND.xls">
       <img [src]="this.imdDescargaDatos" alt="Imagen del botón"
       class="img-fluid image-mobile">
    </a>
  </div>
    <!-- Texto a la derecha del botón -->
    <div class="col-12 col-md-2">
      <span class=" impresion">Base de datos de los indicadores derivados del PND 2019-2024</span>
    </div>
  </div>

      <!-- Estadisticas Sector -->
      <div class="text-center row d-flex justify-content-center areaGraficas mt-4">
        <div class=" col-md-9 d-flex p-3 flex-wrap gap-1 pt-4 align-items-center justify-content-evenly w-100">
            <div *ngFor="let estadistica of listaEstadisticasBasicasSector" class="circulo-estadisticas">
              <p class="tipo text-center">{{estadistica.Tipo}}</p>
                <div [ngClass]="{
                  'circle-objetivos': estadistica.Tipo === 'OBJETIVOS',
                  'circle-parametros': estadistica.Tipo === 'PARÁMETROS',
                  'circle-metas': estadistica.Tipo === 'METAS PARA EL BIENESTAR',
                  'circle-programas': estadistica.Tipo === 'PROGRAMAS DERIVADOS'
                }" class=" circle">
                    {{estadistica.Conteo}}
                </div>
            </div>

        </div>
    </div>

    <app-carrusel1924
    [listaProgramasSectoriales]="listaProgramasSectoriales"
    [loading]="loadingProgramasSectoriales"
    (idProgramaSectChange)="onIdProgramaSectChange($event)">
    </app-carrusel1924>

    <div class="row" *ngIf="mostrarDetalles">
      <!-- Componente lateral -->
      <div [ngClass]="{'col-4': barraVisible, 'col-1': !barraVisible, 'toggle-bar': true}" class="position-relative">
        <!-- Botón para ocultar/mostrar la barra, que estará sobre la barra -->
        <button class="btn btn-light toggle-btn" (click)="toggleBarra()">
          <span [ngClass]="barraVisible ? 'arrow-left' : 'arrow-right'"></span>
        </button>

        <!-- Componente barra CBRP10-->
        <div *ngIf="barraVisible" class="detalle-barra-content rounded">
          <app-detalle-barra20192024></app-detalle-barra20192024>
        </div>
      </div>
                    <!-- Componente de información CBRP10-->
                    <div [ngClass]="barraVisible ? 'col-8' : 'col-11'">
                      <app-detalle-informacion20192024></app-detalle-informacion20192024>
                        </div>
    </div>
    <div *ngIf="this.esTablet" style="height: 145px;"></div>
</div>


