
<div class="position-fixed w-100 bg-white" #planeacion>
  <div
      class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
      <div id="divOcultarRedes" class="social-icons redesInternas">
          <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
                  [alt]="red?.alt" class="iconoRed" /></a>
      </div>
      <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
  </div>
</div>
<!-- Titulo ventana -->
 <div class="m-auto" [ngStyle]="{'padding-top':alto+'px', 'width':'85%'}" id="total" id="padre">


<div class="text-center tituloPND">
  Programas derivados del PND 2019-2024
</div>

  <div class="row justify-content-end mt-3">
    <!-- Botón con imagen -->
    <div class="col-sm-3 col-md-1 mt-1">
      <a href="https://www.coneval.org.mx/coordinacion/Documents/monitoreo/Bases_SIPOL/Sectoriales_19-20/Programas_derivados_PND.xls"
      download="Programas_derivados_PND.xls">
      <img [src]="this.imgNube" alt="Imagen del botón"
      class="img-fluid button-image w-75">
   </a>
    </div>
    <!-- Texto a la derecha del botón -->
    <div class="col-sm-9 col-md-2">
      <a href="https://www.coneval.org.mx/coordinacion/Documents/monitoreo/Bases_SIPOL/Sectoriales_19-20/Programas_derivados_PND.xls"  class="text-decoration-none no-select">
      <span class=" impresion">Base de datos de los indicadores derivados del PND 2019-2024</span>
    </a>
    </div>

  </div>

        <!-- Estadisticas Basicas  -->
        <div class="text-center mb-3">
          <div class="rectangulo-contenedor">
          <div class="my-2 text-center">
            <span class="subtitulo">Estadísticas Básicas</span>
          </div>
        </div>
        <div class="d-flex p-3 flex-wrap gap-1 pt-4 align-items-center justify-content-evenly areaGraficas">
          <div *ngFor="let estadistica of listaEstadisticasBasicas; let i = index" class="d-flex flex-column align-items-center justify-content-center">
            <p class="subtituloEstadistica text-center">{{ estadistica?.Tipo }}</p>
            <div class="circle" [ngClass]="{
              'circle-sectores': estadistica.Tipo === 'SECTORES',
              'circle-programas-derivados': estadistica.Tipo === 'PROGRAMAS DERIVADOS',
              'circle-objetivos': estadistica.Tipo === 'OBJETIVOS',
              'circle-metas-bienestar': estadistica.Tipo === 'METAS PARA EL BIENESTAR',
              'circle-parametros': estadistica.Tipo === 'PARÁMETROS'
            }">
              <span>{{ estadistica.currentCount }}</span>
            </div>
          </div>
        </div>

        </div>

            <!-- Iconos Sectores  -->
    <div class="text-center mt-3">
      <div class="rectangulo-contenedor">
      <div class="my-2 text-center" [ngStyle]="{'background-color' : '#fff'}">
          <span class="subtitulo" >Monitoreo de indicadores de la política social por sector</span>
      </div>
      </div>
      <div class="mt-4 d-flex justify-content-evenly flex-wrap">
          <div *ngFor="let sector of listaSectores" class="p-1 link-sectores" style="flex: 1 1 20%;">
              <img class="sectores-icon-svg" [src]="sector.ICONO" [alt]="sector.ICONO" (click)="redirigirAIndicador(sector?.ID_SECTOR)">
              <p class="texto text-center fw-bold nombreIndicador" (click)="redirigirAIndicador(sector?.ID_SECTOR)">{{sector.NOMBRE}}</p>
          </div>
      </div>

  </div>



      <div *ngIf="this.esTablet" style="height: 145px;"></div>
</div>
