.subtitulo{
  color: #278148;
  //font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.areaGraficas {
  background-color: #E8E8E8;
}

.circle {
  width: 70px;
  height: 70px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

img{
  cursor: pointer;
}

.link-sectores:hover p {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: black;
}

.nombreIndicador, .nombreIndicador2{
  font-size: 16px;
  //font-family: Arial, Helvetica, sans-serif;
}

.nombreIndicador2{
  max-width: 150px; /* Ajusta el ancho máximo del texto */
  word-wrap: break-word; /* Permite que el texto se divida en varias líneas si es necesario */
  white-space: normal; /* Permite que el texto sea de varias líneas */
  margin: 0 auto; /* Centra el texto dentro del div */
}

.button-image {
  max-width: 80%; /* Asegura que la imagen sea responsiva */
}

@media (max-width: 576px) { /* Para dispositivos móviles */
  .button-image {
      max-width: 100px; /* Establece el ancho máximo para dispositivos móviles */
  }
}
.tituloPND{
  color:#009169 ;
  //font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.rectangulo-contenedor {
  border: 2px solid #196B24;
  padding: 0px 15px; /* Añade más espacio interno para un mejor aspecto */
  background-color: #FFFFFF;
  margin: 5px auto;
  display: inline-block; /* Se ajusta al ancho del contenido */
  max-width: 90%;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
}

.circle-sectores {
  background-color: #1C520D;
}

.circle-programas-derivados {
  background-color: #278148;
}

.circle-objetivos {
  background-color: #53702D;
}

.circle-metas-bienestar {
  background-color: #50841B;
}

.circle-parametros {
  background-color: #83BA2B;
}
.sectores-icon-svg {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.impresion {
  color: #000000;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.subtituloEstadistica {
  color: #000000;
  //font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}


@media (max-width: 576px) { /* Aplica solo para dispositivos móviles pequeños */
  .button-image-container {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 450px) {
  .redesInternas {
    width: 50%;
    margin: auto;
  }
}