<div class="position-fixed w-100 bg-white" #planeacion>
    <div
        class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
        <div id="divOcultarRedes" class="social-icons redesInternas">
            <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
                    [alt]="red?.alt" class="iconoRed" /></a>
        </div>
        <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
    </div>
</div>

<div class="m-auto" [ngStyle]="{'padding-top':alto+'px', 'width':'85%','min-height':'90vh'}" id="total" id="padre">

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span class="titulo">Fichas de Monitoreo de Políticas Sociales</span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto">
                <button *ngFor="let a of anios" class="btn m-2 ciclos" 
                        [ngClass]="{'cicloSeleccionado': a?.CICLO === cicloSeleccionado}"
                        (click)="seleccionaCiclo(a?.CICLO ?? 2016)"
                        >
                    {{ a?.CICLO }}
                </button>
            </div>
        </div>
    </div>
    
    

    <div class="row align-items-center fichas" *ngIf="fichas.length>0">
        <!-- Botones en pantallas medianas en adelante -->
        <div class="col-auto d-none d-sm-flex justify-content-center">
            <button class="btn btn-transparent text-dark fw-bold btnCarousel" (click)="siguiente()">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </button>
        </div>
    
        <!-- Contenido de la fila -->
        <div class="col">
            <div class="row">
                <div class="col-6 col-sm-3" *ngFor="let cosa of arregloVisible">
                    <a [href]="cosa?.URL_FICHA">
                        <img [src]="cosa?.URL_PORTADA" class="img-fluid" style="width: 100%;" [alt]="cosa?.URL_PORTADA">
                    </a>
                </div>
            </div>
        </div>
    

         <!-- Botones en pantallas medianas en adelante -->
         <div class="col-auto d-none d-sm-flex justify-content-center">
            <button class="btn btn-transparent text-dark fw-bold btnCarousel" (click)="anterior()">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </button>
        </div>
    



        <!-- Botones en pantallas pequeñas -->
        <div class="col-auto d-flex justify-content-center d-sm-none">
            <button class="btn btn-transparent text-dark fw-bold btnCarousel" (click)="siguiente()">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </button>
        </div>
    
        <div class="col-auto d-flex justify-content-center d-sm-none">
            <button class="btn btn-transparent text-dark fw-bold btnCarousel" (click)="anterior()">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </button>
        </div>
    </div>
    

</div>




