.titulo{
  color: #203864;
  font-size: 24px;
  //font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

.ciclos{
  //font-family: Arial, Helvetica, sans-serif;
  background-color: #129F15;
  color :#ffffff;
  font-size: 14px;
}

.cicloSeleccionado{
  background-color: #285333;
}

.fichas{
  margin: auto;
  margin-top: 5%;
}

.btnCarousel{
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.indicador {
width: 10px;
height: 10px;
margin: 5px;
border-radius: 50%;
background-color: #ccc;
cursor: pointer;
transition: background-color 0.3s;
}

.indicador.activo {
background-color: #007bff;
}


button:focus, .cicloSeleccionado:focus,
button:active, .cicloSeleccionado:active {
background-color: #285333 !important; /* Fondo deseado */
color: #fff !important; /* Color del texto */
border: none;
outline: none;
box-shadow: none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

.ciclos:hover {
  font-weight: bold !important;
  text-decoration: underline !important;
  background-color: #129F15 !important;
  color: #fff !important;
}

@media only screen and (max-width: 450px) {
.redesInternas {
  width: 50%;
  margin: auto;
}
}



.carousel-container {
overflow: hidden;
width: 100%;
position: relative;
}



.carousel {
display: flex;
overflow: hidden;
scroll-behavior: smooth;
will-change: transform; /* Mejora el rendimiento de transformaciones */

}

.item {
min-width: 25%; /* Cambia flex por min-width para evitar conflictos */
box-sizing: border-box; /* Asegura que padding no rompa el ancho del ítem */
padding: 0 10px;
}

.carousel-control.prev {
left: 10px;
}

.carousel-control.next {
right: 10px;
}

.indicators {
display: flex;
justify-content: center;
margin-top: 15px;
}

.indicator {
width: 10px;
height: 10px;
margin: 0 5px;
border-radius: 50%;
background-color: lightgray;
cursor: pointer;
}

.indicator.active {
background-color: gray;
}


.img {
width: 250px; /* Ajusta todas las imágenes al ancho del contenedor *
max-height: 320px; /* Ajusta esta altura según tu diseño */
object-fit: cover; /* Recorta las imágenes para que todas se vean uniformes */
display: block; /* Asegura que el comportamiento sea consistente */
}

