<div class="position-fixed w-100 bg-white" #planeacion>
  <div
      class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
      <div id="divOcultarRedes" class="social-icons redesInternas">
          <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
                  [alt]="red?.alt" class="iconoRed" /></a>
      </div>
      <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
  </div>
</div>

<div class="m-auto" [ngStyle]="{'padding-top':alto+'px', 'width':'85%','min-height':'90vh'}" id="total" id="padre">

  <div class="container">
    <div class="row">
        <div class="col text-center">
            <span class="titulo">Fichas de Monitoreo de Políticas Sociales</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-auto">
            <button *ngFor="let a of anios" class="btn m-2 ciclos"
                    [ngClass]="{'cicloSeleccionado': a?.CICLO === cicloSeleccionado}"
                    (click)="seleccionaCiclo(a?.CICLO ?? 2016)"
                    >
                {{ a?.CICLO }}
            </button>
        </div>
    </div>
</div>



    <div class="row align-items-center fichas" *ngIf="fichas.length > 0">
  <!-- Botón Izquierdo -->
  <div class="col-auto d-flex justify-content-center align-items-center">
    <button class="btn btn-transparent text-dark fw-bold btnCarousel" (click)="moveRight()">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
  </div>

  <!-- Contenedor del Carrusel -->
<div class="col carousel-container position-relative">
  <div
    class="carousel"
    #carousel
    (mousedown)="startDrag($event)"
    (mousemove)="drag($event)"
    (mouseup)="stopDrag()"
    (mouseleave)="stopDrag()"
  >
    <div
      class="item"
      *ngFor="let ficha of fichas"
      [style.transform]="'translateX(' + translateX + '%)'"
    >
      <a [href]="ficha.URL_FICHA">
        <img
          [src]="ficha.URL_PORTADA"
          [alt]="'Portada ' + ficha.ID_PROG_SECTORIAL"
          class="img-fluid"
          draggable="false"
          style="width: 250px;"
        />
      </a>
    </div>
  </div>
</div>


  <!-- Botón Derecho -->
  <div class="col-auto d-flex justify-content-center align-items-center">
    <button class="btn btn-transparent text-dark fw-bold btnCarousel" (click)="moveLeft()">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </div>

    <!-- Indicadores -->
    <div class="indicators">
      <div
        *ngFor="let groupIndex of getIndicatorIndexes(); let index = index"
        class="indicator"
        [class.active]="index === currentGroupIndex"
        (click)="goToGroup(index)"
      ></div>
    </div>


  </div>


               <!-- Indicadores por bloque -->
               <!--<div class="d-flex justify-content-center mt-3">
                <div *ngFor="let bloque of bloques; let i = index"
                  class="indicador"
                  [class.activo]="i === bloqueActivo"
                  (click)="irABloque(i)">
                </div>
              </div>-->


        <!-- Botones en pantallas pequeñas
        <div class="col-auto d-flex justify-content-center d-sm-none">
            <button class="btn btn-transparent text-dark fw-bold btnCarousel" (click)="anterior()">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </button>
        </div>

        <div class="col-auto d-flex justify-content-center d-sm-none">
            <button class="btn btn-transparent text-dark fw-bold btnCarousel" (click)="siguiente()">
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </button>
        </div>-->
    </div>






