.titulo{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #008D6C;
}

.tituloContenedor{
    border-width: 3px;
    border-color: #008D6C;
    border-style: solid;
    display: inline-block;
    padding: 10px 40px;
    transform: translateY(20px);
}

.texto{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
}


.download-svg {
    width: 70px;
    height: 70px;
}

.sectores-icon-svg {
    width: 150px;
    height: 150px;
}

.circulo-estadisticas{
    background-color: #008D6C;
    width: 70px;
    height: 70px;
    padding: 20px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

.link-sectores:hover{
    cursor: pointer;
}

.link-sectores:hover p{
    text-decoration: underline;
}