<div class="row">
  <div class="col-3">
    <div class="row justify-content-end mt-3">
      <!-- Botón con imagen -->
      <div class="col-6">
        <a href="https://www.coneval.org.mx/coordinacion/Documents/monitoreo/PND/Metas_Nacionales_PND20132018.csv"
          download="Metas_Nacionales_PND20132018.csv">
          <img src="http://devnet.coneval.org.mx:84/_SIMEPS/img/descarga_excel.jpg" alt="Imagen del botón"
            class="img-fluid w-75">
        </a>
      </div>
      <!-- Texto a la derecha del botón -->
      <div class="col-6">
        <span class="ms-1 impresion">Fichas técnicas de los indicadores</span>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row justify-content-end mt-3">
      <!-- Botón con imagen -->
      <div class="col-6">
        <a href="https://www.coneval.org.mx/coordinacion/Documents/monitoreo/PND/Metas_Nacionales_PND20132018.csv"
          download="Metas_Nacionales_PND20132018.csv">
          <img src="http://devnet.coneval.org.mx:84/_SIMEPS/img/descarga_excel.jpg" alt="Imagen del botón"
            class="img-fluid w-75">
        </a>
      </div>
      <!-- Texto a la derecha del botón -->
      <div class="col-6">
        <span class="ms-1 impresion">Ficha técnica del indicador</span>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row justify-content-end mt-3">
      <!-- Botón con imagen -->
      <div class="col-6">
        <a href="https://www.coneval.org.mx/coordinacion/Documents/monitoreo/PND/Metas_Nacionales_PND20132018.csv"
          download="Metas_Nacionales_PND20132018.csv">
          <img src="http://devnet.coneval.org.mx:84/_SIMEPS/img/descarga_excel.jpg" alt="Imagen del botón"
            class="img-fluid w-75">
        </a>
      </div>
      <!-- Texto a la derecha del botón -->
      <div class="col-6">
        <span class="ms-1 impresion">Base de datos de excel</span>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="row justify-content-end mt-3">
      <!-- Botón con imagen -->
      <div class="col-6">
        <a href="https://www.coneval.org.mx/coordinacion/Documents/monitoreo/PND/Metas_Nacionales_PND20132018.csv"
          download="Metas_Nacionales_PND20132018.csv">
          <img src="http://devnet.coneval.org.mx:84/_SIMEPS/img/descarga_excel.jpg" alt="Imagen del botón"
            class="img-fluid w-75">
        </a>
      </div>
      <!-- Texto a la derecha del botón -->
      <div class="col-6">
        <span class="ms-1 impresion">Base de datos csv</span>
      </div>
    </div>
  </div>
</div>

<p class="nombreIndicador fw-bold">
  Nombre del indicador: {{informacion?.INDICADOR}}
</p>
<h5>Información general del indicador</h5>
<div class="row mt-4">
  <div class="col-6 text-justify">
    <p class="pObjetivo">
      <span class="objetivo">Objetivo: </span>
      <span>{{this.informacion?.OBJETIVO}}</span>
    </p>
    <p class="pIndicador">
      <span class="indicador">Indicador: </span>
      <span>{{this.informacion?.NOMBRE}}</span>
    </p>
    <p class="pDescripcion">
      <span class="descripcion">Descripción: </span>
      <span>{{informacion?.DESCRIPCION}}</span>
    </p>
    <p class="pCalculo">
      <span class="mCalculo">Método de cálculo: </span>
      <span>{{informacion?.METODO}}</span>
    </p>
    <p class="pInformacion">
      <span class="fInformacion">Fuentes de Información: </span>
      <span>{{informacion?.FUENTE}}</span>
    </p>
    <p>
      <span class="periodicidad">Periodicidad: </span> {{informacion?.PERIODICIDAD}}<br>
      <span class="uMedida">Unidad de medida: </span> {{informacion?.UDM}}
    </p>
  </div>
  <div class="col-6">
    <app-line-chart-multiserie></app-line-chart-multiserie>
  </div>
</div>

<div class="row">
  <h5>
    Estadísticas rápidas
  </h5>
  <div class="col-12">
    <!-- Estadisticas Basicas  -->
    <div class="mb-1">
      <span class="fw-bold text-start subtitulosMetas">Metas planeadas</span>
      <div class="row align-items-center justify-content-evenly">
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor máximo</p>
          <div class="circle m-auto planeadas">
            <span>{{metaPlaneada?.vMax}}</span>
          </div>

        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor mínimo</p>
          <div class="circle m-auto planeadas">
            <span>{{metaPlaneada?.vMin}}</span>
          </div>
        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor promedio</p>
          <div class="circle m-auto planeadas">
            <span>{{metaPlaneada?.vPromedio}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <!-- Estadisticas Basicas  -->
    <div class="mb-1">
      <span class="fw-bold text-start subtitulosMetas">Metas Alcanzadas</span>
      <div class="row align-items-center justify-content-evenly">
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor máximo</p>
          <div class="circle m-auto alcanzadas">
            <span>{{metaAlcanzada?.vMax}}</span>
          </div>

        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor mínimo</p>
          <div class="circle m-auto alcanzadas">
            <span>{{metaAlcanzada?.vMin}}</span>
          </div>
        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor promedio</p>
          <div class="circle m-auto alcanzadas">
            <span>{{metaAlcanzada?.vPromedio}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="col-12">
    <!-- Estadisticas Basicas  -->
    <div class="mb-1">
      <span class="fw-bold text-start subtitulosMetasIndicador">Desempeño del indicador
      </span>
      <div class="row align-items-center justify-content-evenly ">
        <div class="col-3">
          <div class="circle m-auto lineaBase">
            <span>{{desempenio?.lB}}</span>
          </div>
          <p class="textoGraficas fw-bold m-auto text-center">Línea Base</p>
        </div>
        <div class="col-3">
          <div class="circle m-auto ultimoValor">
            <span>{{desempenio?.uVA}}</span>
          </div>
          <p class="textoGraficas fw-bold m-auto text-center">Último valor alcanzado</p>
        </div>
        <div class="col-3">
          <div class="circle m-auto meta2018">
            <span>{{desempenio?.meta}}</span>
          </div>
          <p class="textoGraficas fw-bold m-auto text-center">Meta 2018</p>
        </div>
        <div class="col-3">
          <div class="circle m-auto porcentaje">
            <span>{{desempenio?.porcentaje}}</span>
          </div>
          <p class="textoGraficas fw-bold m-auto text-center">Porcentaje de avance con respecto al 2018</p>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-6">
    <span class="fw-bold text-start subtitulosMetasIndicador">Calidad del indicador</span>

    <ul class="list-unstyled">
      <li>
        <i class="bi bi-check-circle-fill text-success fs-4" *ngIf="calidadIndicador?.claridad"></i> 
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.claridad"></i> 
        Claridad
      </li>
      <li>
        <i class="bi bi-check-circle-fill text-success fs-4" *ngIf="calidadIndicador?.relevancia"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.relevancia"></i>
         Relevancia
      </li>
      <li>
        <i class="bi bi-check-circle-fill text-success fs-4" *ngIf="calidadIndicador?.monitoreo"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.monitoreo"></i> 
        Monitoreabilidad
      </li>
      <li>
        <i class="bi bi-check-circle-fill text-success fs-4"  *ngIf="calidadIndicador?.pertinencia"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.pertinencia"></i>
        Pertinencia
      </li>
    </ul>


  </div>
  <div class="col-6">
    <span class="fw-bold text-start subtitulosMetasIndicador">Derecho social vinculado</span>
  </div>
</div>

</div>