<div class="row">
  <div  class="col-lg-3 col-12">
    <div class="row justify-content-end mt-3">
      <!-- Botón con imagen -->
      <div class="col-lg-6 col-12">
        <a (click)="descargarFichasTecnicas1318()"
          download="Metas_Nacionales_PND20132018.csv">
          <img [src]="this.imgDesargaInd" alt="Imagen del botón"
            class="img-fluid w-75 ">
        </a>
      </div>
      <!-- Texto a la derecha del botón -->
      <div class="col-lg-6 col-12">
        <label class="ms-1 impresion">Fichas técnicas de los indicadores</label>
      </div>
    </div>
  </div>
  <div  class="col-lg-3 col-12">
    <div class="row justify-content-end mt-3">
      <!-- Botón con imagen -->
      <div class="col-lg-6 col-12">
        <a (click)="descargarFichaTecnica1318()">
          <img [src]="this.imgDescargaFicha" alt="Imagen del botón"
            class="img-fluid w-75">
        </a>
      </div>
      <!-- Texto a la derecha del botón -->
      <div  class="col-lg-6 col-12">
        <label class="ms-1 impresion">Ficha técnica del indicador</label>
      </div>
    </div>
  </div>
  <div  class="col-lg-3 col-12">
    <div class="row justify-content-end mt-3">
      <!-- Botón con imagen -->
      <div class="col-lg-6 col-12">
        <a (click)="descargarBdExcelConId()"
          download="Metas_Nacionales_PND20132018.csv">
          <img [src]="this.imgDescarga" alt="Imagen del botón"
            class="img-fluid w-75">
        </a>
      </div>
      <!-- Texto a la derecha del botón -->
      <div class="col-lg-6 col-12">
        <label class="ms-1 impresion">Base de datos de excel</label>
      </div>
    </div>
  </div>
  <div  class="col-lg-3 col-12">
    <div class="row justify-content-end mt-3">
      <!-- Botón con imagen -->
      <div class="col-lg-6 col-12">
        <a (click)="descargarBdCsv()"
          download="Metas_Nacionales_PND20132018.csv">
          <img [src]="this.imgDescargaCsv" alt="Imagen del botón"
            class="img-fluid w-75">
        </a>
      </div>
      <!-- Texto a la derecha del botón -->
      <div class="col-lg-6 col-12">
        <label class="ms-1 impresion">Base de datos csv</label>
      </div>
    </div>
  </div>
</div>

<p class="nombreIndicador fw-bold">
  Nombre del indicador: {{informacion?.NOMBRE}}
</p>
<h5>Información general del indicador</h5>
<div class="row mt-4">
  <div class="col-6 text-justify">
    <p class="pObjetivo">
      <span class="objetivo">Objetivo: </span>
      <span>{{this.informacion?.OBJETIVO}}</span>
    </p>
    <p class="pIndicador">
      <span class="indicador">Indicador: </span>
      <span>{{this.informacion?.NOMBRE}}</span>
    </p>
    <p class="pDescripcion">
      <span class="descripcion">Descripción: </span>
      <span>{{informacion?.DESCRIPCION}}</span>
    </p>
    <p class="pCalculo">
      <span class="mCalculo">Método de cálculo: </span>
      <span>{{informacion?.METODO}}</span>
    </p>
    <p class="pInformacion">
      <span class="fInformacion">Fuentes de Información: </span>
      <span>{{informacion?.FUENTE}}</span>
    </p>
    <p>
      <span class="periodicidad">Periodicidad: </span> {{informacion?.PERIODICIDAD}}<br>
      <span class="uMedida">Unidad de medida: </span> {{informacion?.UDM}}
    </p>
  </div>
  <div class="col-6">
    <app-line-chart-multiserie [data]="data" [indicador]="idIndicador"></app-line-chart-multiserie>
    <div>
      <p class="nota">*La información publicada fue verificada por las dependencias y entidades responsables de los programas.</p>
      <p class="nota">Nota: La información fue actualizada en octubre de 2018.</p>
    </div>
  </div>
</div>

<div class="row">
  <h5>
    Estadísticas rápidas
  </h5>
  <div class="col-12">
    <!-- Estadisticas Basicas  -->
    <div class="mb-1">
      <span class="fw-bold text-start subtitulosMetas">Metas planeadas</span>
      <div class="row align-items-center justify-content-evenly">
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor máximo</p>
          <div class="circle m-auto planeadas">
            <span>{{metaPlaneada?.vMax}}</span>
          </div>

        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor mínimo</p>
          <div class="circle m-auto planeadas">
            <span>{{metaPlaneada?.vMin}}</span>
          </div>
        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor promedio</p>
          <div class="circle m-auto planeadas">
            <span>{{metaPlaneada?.vPromedio}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <!-- Estadisticas Basicas-->
    <div class="mb-1">
      <span class="fw-bold text-start subtitulosMetas">Metas Alcanzadas</span>
      <div class="row align-items-center justify-content-evenly">
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor máximo</p>
          <div class="circle m-auto alcanzadas">
            <span>{{metaAlcanzada?.vMax}}</span>
          </div>

        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor mínimo</p>
          <div class="circle m-auto alcanzadas">
            <span>{{metaAlcanzada?.vMin}}</span>
          </div>
        </div>
        <div class="col-4">
          <p class="textoGraficas m-auto text-center">Valor promedio</p>
          <div class="circle m-auto alcanzadas">
            <span>{{metaAlcanzada?.vPromedio}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12">
    <!-- Estadisticas Basicas  -->
    <div class="mb-1">
      <span class="fw-bold text-start subtitulosMetasIndicador">Desempeño del indicador
      </span>
      <div class="row align-items-center justify-content-center contenedor-compacto d-flex flex-column flex-md-row">
        <div class="col-3">
          <div class="circle m-auto lineaBase" >
            <span>{{desempenio?.lB}}</span>
          </div>
          <p class="textoGraficas1 fw-bold m-auto text-center">Línea Base</p>
        </div>
        <div class="col-3">
          <div class="circle m-auto ultimoValor">
            <span>{{desempenio?.uVA}}</span>
          </div>
          <p class="textoGraficas1 fw-bold m-auto text-center">Último valor alcanzado</p>
        </div>
        <div class="col-3">
          <div class="circle m-auto meta2018">
            <span>{{desempenio?.meta}}</span>
          </div>
          <p class="textoGraficas1 fw-bold m-auto text-center">Meta 2018</p>
        </div>
        <div class="col-3">
          <div class="circle m-auto" [ngStyle]="{'background-color': this.color}">
            <span>{{desempenio?.porcentaje}}</span>
          </div>
          <p class="textoGraficas1 fw-bold m-auto text-center">Porcentaje de avance con respecto al 2018</p>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-6">
    <span class="fw-bold text-start subtitulosMetasIndicador">Calidad del indicador</span>

    <ul class="list-unstyled">
      <li class="centradro">
       <!--<i class="bi bi-check-circle-fill text-success fs-4" *ngIf="calidadIndicador?.claridad"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.claridad"></i>-->
        <img [src]="this.imgCheck" alt="Check" class="img-fluid img-40x40 centradro"  *ngIf="calidadIndicador?.claridad"/>
        <img [src]="this.imgWarn" alt="Check" class="img-fluid img-40x40 centradro" *ngIf="!calidadIndicador?.claridad" />
        Claridad
      </li>
      <li class="centradro">
        <!--<i class="bi bi-check-circle-fill text-success fs-4" *ngIf="calidadIndicador?.relevancia"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.relevancia"></i>-->
        <img [src]="this.imgCheck" alt="Check" class="img-fluid img-40x40 centradro"  *ngIf="calidadIndicador?.relevancia"/>
        <img [src]="this.imgWarn" alt="Check" class="img-fluid img-40x40 centradro" *ngIf="!calidadIndicador?.relevancia" />
        Claridad
         Relevancia
      </li>
      <li class="centradro">
        <!--<i class="bi bi-check-circle-fill text-success fs-4" *ngIf="calidadIndicador?.monitoreo"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.monitoreo"></i>-->
        <img [src]="this.imgCheck" alt="Check" class="img-fluid img-40x40 centradro"  *ngIf="calidadIndicador?.monitoreo"/>
        <img [src]="this.imgWarn" alt="Check" class="img-fluid img-40x40 centradro" *ngIf="!calidadIndicador?.monitoreo" />
        Monitoreabilidad
      </li>
      <li class="centradro">
        <!--<i class="bi bi-check-circle-fill text-success fs-4"  *ngIf="calidadIndicador?.pertinencia"></i>
        <i class="bi bi-exclamation-circle-fill text-warning fs-4" *ngIf="!calidadIndicador?.pertinencia"></i>-->
        <img [src]="this.imgCheck" alt="Check" class="img-fluid img-40x40 centradro" *ngIf="calidadIndicador?.pertinencia"/>
        <img [src]="this.imgWarn" alt="Check" class="img-fluid img-40x40 centradro" *ngIf="!calidadIndicador?.pertinencia" />
        Pertinencia
      </li>
    </ul>


  </div>
  <div class="col-6">
    <span class="fw-bold text-start subtitulosMetasIndicador">Derecho social vinculado</span>
    <p *ngIf="!derechosSociales">El indicador no se encuentra vinculado a algún derecho social.</p>
    <div class="row" *ngIf="derechosSociales">
      <div class="col-4" *ngFor="let derecho of derechosSociales">
        <img [src]="'https://www.coneval.org.mx/SiteCollectionImages/SIMEPS/LogosPS/'+derecho.DER_DESCRIPCION" [alt]="derecho.DER_DESCRIPCION" class="img-fluid" />
        <p class="text-center">{{ derecho.DER_DESCRIPCION }}</p>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="fw-bold text-start tituloFinal centradro">Programas y acciones sociales vinculados</span>
    <p class="ms-3">A continuación se presentan los programas y acciones sociales cuyo nivel de Fin se encuentra asociado al presente indicador</p>
  </div>
</div>

</div>
