
.ciclobtn{
    font-size: 14px;
    //font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
    background-color: #129F15;
}

.cicloSeleccionado{
    background-color: #285333;
}

.ciclobtn:hover {
  text-decoration: underline;
  font-weight: bold;
}
.cuadro{
    box-shadow: 0px 0px 8px #DAE2F1;
}

.cuadro:hover{
    cursor: pointer;
    border: solid 2px #01a950;
}
img{
    margin: auto;
}

.descarga{
    font-size: 14px;
    //font-family: Arial, Helvetica, sans-serif;
}

.cuadro {
    width:  300px;
    height: 300px;
    //width: 100%;
    //height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagen-ajustada {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
.texto-indicadores {
  //font-family: Arial, sans-serif;
  font-size: 24px;
  color: #bd4c1b;
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
    .redesInternas {
      width: 50%;
      margin: auto;
    }
  }
