<div class="position-fixed w-100 bg-white" #planeacion>
    <div
        class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
        <div id="divOcultarRedes" class="social-icons redesInternas">
            <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
                    [alt]="red?.alt" class="iconoRed" /></a>
        </div>
        <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
    </div>
</div>



<div class="m-auto" [ngStyle]="{'padding-top':alto+'px', 'width':'85%'}" id="total" id="padre">
    <div class="row my-2 p-0">
        <span class="titulo2 my-2 col-md-2 p-2">¿Qué puedes encontrar en el Módulo de planeación nacional?</span>
        <div class="d-flex my-2 col-md-10 p-0">
            <div class="h-100 mx-2" [ngStyle]="{'width': '2px', 'background-color': '#A6A6A6'}"></div>
            <p class="texto h-100 p-3" [ngStyle]="{'background-color': '#E0F1DA'}">En este módulo podrás encontrar la información derivada del monitoreo de los programas, 
                objetivos e indicadores de la planeación nacional del desarrollo, 
                por administración pública sexenal, desde 2013. 
            </p>

        </div>
    </div>
    
    <div class="text-center">
        <div class="tituloContenedor my-2" [ngStyle]="{'background-color' : '#fff'}">
            <span class="titulo" >¿Qué es la planeación nacional del desarrollo?</span>
        </div>
        <div class="row">

            <p class="texto p-3 pt-4" [ngStyle]="{'background-color': '#E0F1DA'}">
                La planeación nacional del desarrollo es el ordenamiento racional y 
                sistemático de las acciones del gobierno con el propósito de fomentar el <strong class="texto-marcado">desarrollo social</strong> y 
                <strong class="texto-marcado">económico</strong> del país en el <strong class="texto-marcado">largo plazo.</strong> Se compone por el documento del <strong class="texto-marcado">Plan Nacional de Desarrollo (PND)</strong>, 
                y sus <strong>programas derivados.</strong>
            </p>
        </div>
    </div>
    <div class="text-center">
        <div class="tituloContenedor my-2" [ngStyle]="{'background-color' : '#fff'}">
            <span class="titulo" >Plan Nacional de Desarrollo y los programas derivados</span>
        </div>
        <div class="row p-3 pt-4 align-items-center" [ngStyle]="{'background-color': '#E8E8E8'}">
            <div class="d-md-flex col-md-6 align-items-center">
                <img class="img-svg" src="../../../assets/img/PND.svg" alt="programas">
                <p class="texto" [ngStyle]="{'background-color': '#E8E8E8'}">
                    El <strong class="texto-marcado">Plan Nacional de Desarrollo</strong> es el documento rector de la administración donde se estipulan los <strong class="texto-marcado">objetivos prioritarios</strong>
                        en función del diagnóstico de los problemas nacionales y las soluciones a implementar en el <strong class="texto-marcado">sexenio.</strong> 
                </p>
            </div>
            <div class="d-md-flex col-md-6 align-items-center">
                <img class="img-svg"  src="../../../assets/img/PROGRAMAS DERIVADOS.svg" alt="programas">
                <p class="texto" [ngStyle]="{'background-color': '#E8E8E8'}">
                    Los programas derivados del PND que se dividen en <strong class="texto-marcado">sectoriales, 
                    institucionales, espaciales</strong> y <strong class="texto-marcado">regionales</strong>, y determinan las prioridades de atención en cada uno de sus ámbitos.
                </p>
            </div>
        </div>
    </div>
    <!--Diagrama Escritorio y Tablet-->
    <app-pnd-planeacion *ngIf="this.esEscritorio" ></app-pnd-planeacion>
    <!--Diagrama Movil-->
    <div class="d-flex justify-content-center w-100 my-3">
        <div class="w-75 column text-center">
            <div class="w-100">
                <img *ngIf="(this.esMovil || this.esTablet) " [src]="parte_3_pnd" class="imagen-principal" alt="imagen1">
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-sm-6 col-sx-6">
                    <img *ngIf="!this.cambiarImagen_1 && (this.esMovil || this.esTablet) " [src]="modulo_1" class="btn subimagen p-0" alt="modulo-1" (click)="this.cambiosImagen('modulo_1')" >
                    <img *ngIf="this.cambiarImagen_1 && (this.esMovil || this.esTablet) " [src]="submodulo_1" class="btn subimagen-1 p-0" alt="modulo-1" (click)="this.cambiosImagen('modulo_1')" >
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-sx-6"> 
                    <img *ngIf="!this.cambiarImagen_2 && (this.esMovil || this.esTablet) " [src]="modulo_2" class="btn subimagen p-0" alt="modulo-2" (click)="this.cambiosImagen('modulo_2')" >
                    <img *ngIf="this.cambiarImagen_2 && (this.esMovil || this.esTablet) " [src]="submodulo_2" class="btn subimagen-1 p-0" alt="modulo-2" (click)="this.cambiosImagen('modulo_2')" >
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-sx-6">
                    <img *ngIf="!this.cambiarImagen_3 && (this.esMovil || this.esTablet) " [src]="modulo_3" class="btn subimagen p-0" alt="modulo-3" (click)="this.cambiosImagen('modulo_3')" >
                    <img *ngIf="this.cambiarImagen_3 && (this.esMovil || this.esTablet) " [src]="submodulo_3" class="btn subimagen-1 p-0" alt="modulo-3" (click)="this.cambiosImagen('modulo_3')" >
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-sx-6">
                    <img *ngIf="!this.cambiarImagen_4 && (this.esMovil || this.esTablet) " [src]="modulo_4" class="btn subimagen p-0" alt="modulo-4" (click)="this.cambiosImagen('modulo_4')" >
                    <img *ngIf="this.cambiarImagen_4 && (this.esMovil || this.esTablet) " [src]="submodulo_4" class="btn subimagen-1 p-0" alt="modulo-4" (click)="this.cambiosImagen('modulo_4')" >
                </div>
            </div>
        </div>
    </div>
    <div class=" d-flex flex-column ">
        <span class="titulo my-1 mx-2 text-center">Resultados del monitoreo de la planeaci&oacute;n nacional</span>
        <span class="texto my-1 text-center">El CONEVAL, a través de los objetivos, indicadores y metas, monitorea los programas derivados.</span>
        <span class="texto my-1 text-center"><strong>¡Elige la administración sexenal que deseas consultar!</strong></span>
    </div>
    <div class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row justify-content-center align-items-center my-2">
        <!--Primer boton-->
        <div class="d-flex flex-column dispositivosCuadros mx-2 sexenioContenedor"  >
            <div class="estilo-encabezado text-center texto estilo-texto-div">
                <span><strong>2013 - 2018</strong></span>
            </div>
            <div class="my-1 d-flex">
                <div class="my-2 d-flex align-items-center">
                    <img class="img-svg" src="../../../assets/img/DIANA.svg" alt="programas">
                </div>
                <div class="d-flex flex-column mx-2 justify-content-center align-items-center text-center">
                    <a class="btn p-0"  [href]="this.direccion_1" >
                        <div class="borde-abajo my-1">
                            <span class="texto my-1 estilo-texto-div" ><strong>Plan Nacional de Desarrollo</strong></span>
                        </div>    
                    </a>
                    <a class="btn p-0" [href]="this.direccion_2">
                        <div class="my-1">
                            <span class="texto my-1 estilo-texto-div"><strong>Programas derivados del ámbito social</strong></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--Segundo boton-->
        <div class="d-flex flex-column dispositivosCuadros mx-2 sexenioContenedor"  >
            <div class="estilo-encabezado text-center texto estilo-texto-div">
                <span><strong>2019 - 2024</strong></span>
            </div>
            <div class="my-1 d-flex">
                <div class="my-2">
                    <img class="img-svg" src="../../../assets/img/DIANA.svg" alt="programas">
                </div>
                <div class="d-flex flex-column mx-2 justify-content-center align-items-center text-center">
                    <a class="btn p-0" [href]="this.direccion_3">
                        <div class="my-1">
                            <span class="texto my-1 estilo-texto-div"><strong>Programas derivados del ámbito social</strong></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="this.esTablet" style="height: 145px;"></div>
</div>