.titulo{
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #278148;
}

.titulo2{
  font-size: 19px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #008D6C;
}

.texto{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
}

.tituloContenedor{
  border-width: 3px;
  border-color: #008D6C;
  border-style: solid;
  display: inline-block;
  padding: 10px 40px;
  transform: translateY(20px);
}

.estilo-encabezado{
    height: 2rem; 
    background: white;
    border-radius: 7px;
    border: 3px solid #008D6C;
}

.estilo-boton{
    color: white;
    border: 3px solid black;
}

.border-derecho{
    border-right: 5px solid white;
}

.borde-abajo{
    border-bottom: 4px solid #008D6C;

}

.estilo-texto-div{
    color: #008D6C;
}

.texto-marcado{
    color: #278148;;
}

.img-svg {
  width: 100px;
  height: 100px;
}

.sexenioContenedor{
  background-color: #E0F1DA;
  color: #008D6C;
  padding: 20px;
  border-radius: 30px;
  border: 3px solid #008D6C;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

@media(min-width: 1200px){
    .dispositivosCuadros{
        width: 35%;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    .dispositivosCuadros{
        width: 45% !important;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .dispositivosCuadros{
        width: 70%;
    }
}

@media(max-width: 767px){
    .dispositivosCuadros{
        width: 90%;
    }
}

@media ( min-width: 1200px){
    .imagen-principal{  
        width: 80%;
    }
    
    .subimagen{
        width: 100%;
    }  

    .subimagen-1{
        width: 110%;
    }  
}

@media (min-width: 768px) and ( max-width: 1199px){
    .imagen-principal{  
        width: 80%;
    }
    
    .subimagen{
        width: 80%;
    }
    .subimagen-1{
        width: 80%;
    }
}

@media (min-width: 576px) and ( max-width: 767px){
    .imagen-principal{  
        width: 80%;
    }
    
    .subimagen{
        width: 80%;
    }  
    .subimagen-1{
        width: 80%;
    } 
}

@media (max-width: 575px){
    .imagen-principal{  
        width: 80%;
    }
    
    .subimagen{
        width: 70%;
    }  
    .subimagen-1{
        width: 70%;
    } 
}



//HEADER


.redesInternas{
    min-width: 11.5rem !important;
  }


  .selectorOpcion{
    width: 30px;
    height: 30px;
  }
  .preguntas{
    background-color: white;
    z-index: 100;
    padding-top: 10px;
  }
  
.separador{
    margin-top: 7%!important;
}
  table{
    width: 90%;
    margin: auto;
  }
  .opcionPregunta{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
  .parrafoInformativo{
    text-align: justify;
    font-size: 19px;
    width: 100%;
    margin: auto;
  }
  
  .contenido{
    padding-top: 5%;
  }
  .contexto{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .diagrama{
    margin: auto;
  }
  
  .resalteNormal{
    color:#2e3e97 !important;
    font-weight: bold;
  }
  
  .resaltePND{
    color:#4caf62 !important;
    font-weight: bold;
  }
  
  .resaltePlan{
    color:#8285e0 !important;
    font-weight: bold;
  }
  
  .resalteRamo33{
    color:#17b0ba !important;
    font-weight: bold;
  }


  @media only screen and (max-width: 450px) {
    .redesInternas {
      width: 50%;
      margin: auto;
    }
    .opcionPregunta{
      font-size: 14px;
    }
    .separadorConeval{
      width: 100%;
    }
  }

  @media only screen and (max-width: 450px) {
    .redesInternas {
      width: 50%;
      margin: auto;
    }
    .opcionPregunta{
      font-size: 14px;
    }
    .separadorConeval{
      width: 100%;
    }
  }

  @media only screen and (max-width: 450px) {
    .redesInternas {
      width: 50%;
      margin: auto;
    }
    .opcionPregunta{
      font-size: 14px;
    }
    .separadorConeval{
      width: 100%;
    }
  }

  @media only screen and (max-width: 450px) {
    .redesInternas {
      width: 50%;
      margin: auto;
    }
    .opcionPregunta{
      font-size: 14px;
    }
    .separadorConeval{
      width: 100%;
    }
  }

  @media only screen and (max-width: 450px) {
    .redesInternas {
      width: 50%;
      margin: auto;
    }
    .opcionPregunta{
      font-size: 14px;
    }
    .separadorConeval{
      width: 100%;
    }
  }

  @media only screen and (max-width: 450px) {
    .redesInternas {
      width: 50%;
      margin: auto;
    }
    .opcionPregunta{
      font-size: 14px;
    }
    .separadorConeval{
      width: 100%;
    }
  }

  @media only screen and (max-width: 450px) {
    .redesInternas {
      width: 50%;
      margin: auto;
    }
    .opcionPregunta{
      font-size: 14px;
    }

    .separadorConeval{
      width: 100%;
    }
  }

  p,.parrafoInformativo{
    font-family: Arial, Helvetica, sans-serif;
  }

  .instrumentos{
    cursor: pointer;
  }