<div class="position-fixed w-100 bg-white" #planeacion>
    <div
        class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
        <div id="divOcultarRedes" class="social-icons redesInternas">
            <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
                    [alt]="red?.alt" class="iconoRed" /></a>
        </div>
        <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
    </div>
</div>
<div class="m-auto" [ngStyle]="{'padding-top':alto+'px', 'width':'85%'}" id="total" id="padre">
    <!-- Titulo del modulo -->
    <div class="text-center">
        <div class="my-2" [ngStyle]="{'background-color' : '#fff'}">
            <h2 class="titulo" >Programas derivados del PND 2019-2024</h2>
        </div>
    </div>
    <!-- Boton de Descarga -->
    <div class="my-2 row flex-row-reverse " [ngStyle]="{'background-color' : '#fff'}">
        <div class="col-lg-4 d-flex gap-3 justify-content-center align-items-center">
            <img class="download-svg" src="../../../assets/img/NUBE.svg" alt="DESCARGA">
            <p class="texto" >Base de datos de los indicadores derivados del PND 2019-2024</p>
        </div>
    </div>

    <!-- Combo Sectores -->
    <div>
        <select class="select-sectores" [(ngModel)]="idSector" (change)="cambiarSector()">
            <option *ngFor="let sector of listaSectores" [value]="sector.ID_SECTOR">
              {{ sector.NOMBRE }}
            </option>
          </select> 
    </div>

    <!-- Estadisticas Sector -->
    <div class="text-center row d-flex justify-content-center">
        <div class=" col-md-9 d-flex p-3 flex-wrap gap-1 pt-4 align-items-center justify-content-evenly" [ngStyle]="{'background-color': '#E8E8E8'}">
            
            <div *ngFor="let estadistica of listaEstadisticasBasicasSector" class="circulo-estadisticas">
                <p class="texto">{{estadistica.TIPO}}</p>
                <div [class]="'texto ' + estadistica.TIPO?.toLowerCase()?.replace(',', '')">
                    {{estadistica.CONTEO}}
                </div>
            </div>
            
        </div>
    </div>
    
    

    <app-carrusel 
        [listaProgramasSectoriales]="listaProgramasSectoriales"
        [loading]="loadingProgramasSectoriales">
    </app-carrusel>

    <app-detalles-ind1924 *ngIf="idSector"></app-detalles-ind1924>
    
    
    
    
    
    
    <div *ngIf="this.esTablet" style="height: 145px;"></div>
</div>