.select-sectores{
  background-color: #E0F1DA  ;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  border-color: #009169;
}

.circulo-estadisticas{
    color: #0000CC;
    font-family: Arial, Helvetica, sans-serif;
}

.valores{
    font-size: 40px;
}

.tipo{
    font-size: 13px;
}


/* Contenedor para la barra lateral */
.toggle-bar {
    position: relative;
  }

  /* Botón flotante */
  .toggle-btn {
    position: absolute;
    top: -10px; /* Ajusta según tu preferencia */
    right: 10px; /* Asegura que el botón esté sobre el borde de la barra */
    z-index: 1000; /* Asegúrate de que esté por encima del contenido */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-left::before {
    content: '◀'; /* Flecha hacia la izquierda */
  }

  .arrow-right::before {
    content: '▶'; /* Flecha hacia la derecha */
  }

  /* Contenedor del contenido de la barra */
  .detalle-barra-content {
    height:100%;
    background-color: #D8DDE0; /* Ejemplo de fondo para la barra */
  }
  .areaGraficas{
    background-color: #eeeeee;
    margin: 0 0cm; /* Margen de 1 cm a cada lado */
    //padding: 20px; /* Ajusta el padding según tus necesidades */
    width: calc(100% - 0cm); /* Resta el margen para ajustar el ancho */
}
