<div class="position-fixed w-100 bg-white" #planeacion>
    <div
        class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
        <div id="divOcultarRedes" class="social-icons redesInternas">
            <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
                    [alt]="red?.alt" class="iconoRed" /></a>
        </div>
        <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
    </div>
</div>
<div class="m-auto" [ngStyle]="{'padding-top':alto+'px', 'width':'85%','min-height':'90vh'}" id="total" id="padre">

  <p class="text-center tituloPND">
    Programas derivados del PND 2013-2018
  </p>

    <div class="row justify-content-end mt-3">
        <div class="col-8 mt-2">
            <select class="form-select select-sectores w-100" [(ngModel)]="idSector"  (change)="onSectorChange($event)">
                <option *ngFor="let sector of listaSectores" [value]="sector.ID_SECTOR">
                  {{ sector.NOMBRE }}
                </option>
              </select>
        </div>

        <!-- Botón con imagen -->
        <div class="col-1">
          <a (click)="descargarExcel()"
             download="Metas_Nacionales_PND20132018.csv">
            <img [src]="this.imgDescarga" alt="Imagen del botón"
                 class="img-fluid w-75 cursor-pointer">
          </a>
        </div>
        <!-- Texto a la derecha del botón -->
        <div class="col-2">
          <a (click)="descargarExcel()" download="Metas_Nacionales_PND20132018.csv" class="text-decoration-none no-select">
          <span class="impresion cursor-pointer">Base de datos de los indicadores derivados del PND 2013-2018</span>
          </a>
        </div>

      </div>


    <!-- Estadisticas Sector -->
    <div class="d-flex justify-content-center mt-4">
      <div class="areaGraficas d-flex align-items-center">
        <div
          *ngFor="let estadistica of listaEstadisticasBasicasSector"
          class="circulo-estadisticas d-flex flex-column align-items-center justify-content-between w-100">
          <p class="tipo">{{estadistica.Tipo}}</p>
          <div class="circle valores" [ngClass]="{
            'circle-planes': estadistica.Tipo === 'PLANES',
            'circle-objetivos': estadistica.Tipo === 'OBJETIVOS',
            'circle-indicadores': estadistica.Tipo === 'INDICADORES'
          }">
            {{estadistica.Conteo}}
          </div>
        </div>
      </div>
    </div>

    <app-carrusel
    [listaProgramasSectoriales]="listaProgramasSectoriales"
    [loading]="loadingProgramasSectoriales"
    (idProgramaSectChange)="onIdProgramaSectChange($event)">
    </app-carrusel>



    <div class="row" *ngIf="mostrarDetalles">
        <!-- Componente lateral -->
        <div [ngClass]="{'col-4': barraVisible, 'col-1': !barraVisible, 'toggle-bar': true}" class="position-relative">
          <!-- Botón para ocultar/mostrar la barra, que estará sobre la barra -->
          <button class="btn btn-light toggle-btn" (click)="toggleBarra()">
            <span [ngClass]="barraVisible ? 'arrow-left' : 'arrow-right'"></span>
          </button>

          <!-- Componente barra -->
          <div *ngIf="barraVisible" class="detalle-barra-content rounded">
            <app-detalle-barra></app-detalle-barra>
          </div>
        </div>

        <!-- Componente de información -->
        <div [ngClass]="barraVisible ? 'col-8' : 'col-11'">
          <app-detalle-informacion></app-detalle-informacion>
        </div>
      </div>

    <div *ngIf="this.esTablet" style="height: 145px;"></div>
</div>
