  <div class="position-fixed w-100 bg-white" #planeacion>
    <div
        class="container-fluid px-0 d-flex flex-column flex-md-row flex-lg-row flex-xl-row flex-xxl-row  border-bottom">
        <div id="divOcultarRedes" class="social-icons redesInternas">
            <a class="img-red" target="_blank" [href]="red?.url" *ngFor="let red of redes"><img [src]="red?.img"
                    [alt]="red?.alt" class="iconoRed" /></a>
        </div>
        <span id="divOcultarTitulo" class="w-100 text-center titulo-coneval">{{nombreSistema}}</span>
    </div>
</div>
<div class="m-auto" [ngStyle]="{'padding-top':alto+'px', 'width':'85%','min-height':'90vh'}" id="total" id="padre">
  <!--<p class="texto-indicadores me-6">
    Indicadores de Fin de los programas y acciones sociales
  </p>-->

    <div class="accordion" id="mainAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingMain">
            <button
              class="accordion-button tituloAcordeon"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseMain"
              aria-expanded="true"
              aria-controls="collapseMain">
              Programas
            </button>
          </h2>
          <div
            id="collapseMain"
            class="accordion-collapse collapse show"
            aria-labelledby="headingMain"
            data-bs-parent="#mainAccordion">
            <div class="accordion-body">
              <!-- Acordeón anidado (sub-acordeón) -->
              <div class="accordion" id="nestedAccordion">
                <div *ngFor="let programa of listaPorgramas; let i = index" class="accordion-item">
                  <h2 class="accordion-header" id="headingSub{{i}}">
                    <button
                      class="accordion-button subtituloAcordeon mb-2"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapseSub' + i"
                      aria-expanded="true"
                      [attr.aria-controls]="'collapseSub' + i">
                      {{ programa.NOMBRE }}
                    </button>
                  </h2>
                  <div
                    [id]="'collapseSub' + i"
                    class="accordion-collapse collapse show"
                    [attr.aria-labelledby]="'headingSub' + i">
                    <div class="accordion-body hijos m-2 ms-2 rounded" *ngFor="let pIndicador of programa?.INDICADORES" (click)="redirigiraDetalle(pIndicador?.ID_INDICADOR,programa?.ID_MATRIZ,pIndicador?.NIVEL,programa?.DEPENDENCIA)">
                      {{ pIndicador?.NOMBRE_IND }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    <div *ngIf="this.esTablet" style="height: 145px;"></div>
</div>
